@font-face {
	font-family: futura_font;
	src: url('../../fonts/FuturaStd-Book.eot');
	src: local(futura_font), 
	url('../../fonts/FuturaStd-Book.woff') format('woff'), 
	url('../../fonts/FuturaStd-Book.ttf') format('truetype'), 
	url('../../fonts/FuturaStd-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{background:#ffffff; padding:0; font-family:futura_font, sans-serif;}
a:focus{outline:none; text-decoration:none; text-align:center;}

a{outline:none; text-decoration:none; text-align:center;}

.topBar{
	background:#000000;
    width:100%;
    height:5px;
    display:block;
    position:absolute;
    top:0;
    left:0;
	z-index: 10;
}
.bottomBar{
	background:#000000;
    width:100%;
    height:5px;
    display:block;
    position:absolute;
    bottom:0;
    left:0;
}

#logo{ margin-top: 85px; margin-left: auto; margin-right: auto; width: 520px; }
#logo a{ display: block; margin:0 auto; text-decoration:none; color:#000000; text-align:center; font-size:52px; text-transform:uppercase; }
#logo img{ border:none; }

#desc{ margin-top:80px; margin-left: auto; margin-right: auto; width: 400px; }
#desc a{ display: block; text-decoration:none; color:#000000; text-align:center; font-size:24px; text-transform:uppercase; }

#blog{ margin: 10px auto 20px auto; padding:5px; width: 70px; background:#000000; }
#blog a{ display: block; margin:0 auto; text-decoration:none; color:#ffffff; text-align:center; font-size:14px; text-transform:uppercase; }
#blog:hover{ background:#AFAFAF; }

#icons{ margin: 0px auto 0px auto; width: 54px; }
#icons  img{	padding-left: 7px; border:none; }

#sform{ margin: 30px auto 50px auto; width: 400px; border: 0px; padding: 20px;}

input.signup{ margin: 0px auto 0px auto; padding:5px; width: 80px; background:#000000; border: 0; 
			font-family:futura_font, sans-serif;  text-decoration:none; 
			color:#ffffff; text-align:center; font-size:14px; text-transform:uppercase; }
input.signup:hover{ background:#AFAFAF; }

fieldset, ul{
	border: 0;
	padding: 0;
	margin: 0;
}

ul{list-style: none;}

ul.alert{
	padding: 5px;
	background: #e1e1e1;
	font-size: 0.9em;
	margin: 0px auto 10px auto;
	display:block;
	text-align:center;
	position:absolute;
	height: 35px;
	top: 0;
	left: 25%;
	right: 25%;
    z-index: 9;
}

ul.alert.error{
	background: #ffbcbc;
	color: #a40f0f;
	border: 2px solid #e59898;
}

ul.alert.success{
	background: #d2ffc8;
	color: #227d0d;
	border: 2px solid #9fde91;
}

fieldset li{
	margin: 0 0 15px 0;
}

input[type=text]{
    width: 250px;
    margin: 0;
	padding: 7px 5px 4px;
	color: #555;
	font-family: inherit;
	border-color: #E5E5E5;
	border-style: solid;
	border-width: 0 1px 1px 0;
	background: #fff url(../../img/bg_input.png) no-repeat scroll left top;
}

label{
	width: 50px;
	color: #000000;
	font-size: 14px;
}