	@font-face {
  font-family: 'cheddar';
src:
       url('cheddar.ttf')  format('truetype'); /* Legacy iOS */
}
	.cheddar{
		font-family: "cheddar";
	}
	.schoolbook{
			font-family: "schoolbook-web",serif;
			font-weight:400;
	}
	.schoolbook-bold{
			font-family: "schoolbook-web",serif;
			font-weight:700;
	}
	.brandon{
		font-family:"brandon-grotesque",serif;
		font-weight:400;
	}

	.brandon-bold{
		font-family:"brandon-grotesque",serif;
		font-weight:700;
	}
	.cot_orange{
		color:#f16c28;
	}
	#footer{
		list-style-type:none;
	}
	.footer_header{
		color:#f16c28;
	}
	body{
		padding-top:70px;
		font-size: 62.5%;
	}
	#featured_designer_layover{
		position:absolute;height:100%;
	}
	#featured_designer_read_shop{
		background-color:#f16c28;
		position:absolute;
		bottom:0px;
		width:100%;
		
		text-align:center;
		color:white;
		text-decoration:underline;
	}
	.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

	#footer_big li{
list-style-type: none;
	}
	#featured_designer_header{
		color:#000000;
	}
	#featured_designer_header2{
		color:#000000;
	}
	#featured_designer_description{
		color:#000000;
	}
	@media screen and (min-width: 0px) and (max-width : 768px) {
		body{
			padding-top:80px;
		}
		#first_header_row{
			padding-top:20px;
		}
		#header{
			height:50px;
		}
		#logo{
			height: 25px;
			max-width:200px;			
		}
		#shopping_bag{
			height:25px;
			width:30px;
		}
		#shopping_bag_text{
			display:none;
		}
		#nav_icon{
			width:25px;
			height:20px;
		}
		#just_arrived_image{
			height:300px;
		}
		#just_arrived_layover{
			height:66.66% !important;
			width:78% !important;
			left:11% !important;
			top:16.66% !important;
		}
		#just_arrived_layover .img{
			height:300px !important;
		}
		#just_arrived_description{
			display:none !important;
		}
		#just_arrived_header{
			font-size:12px;
			padding-top:20%;
		}
		#just_arrived_designer_name{
			font-size:30px;
		}
		#just_arrived_shop_now{
			font-size:14px;
		}
		#top_photo{
			padding-top:15px !important;
		}
		#featured_designer_image{
			content:url('featured_designer_small.png');
		}
		#featured_designer_layover{
			top:50px;left:12.5%;right:12.5%;
		}
		#featured_designer_header{
			font-size:22px;
			text-align:center;
			display:block;
		}
		#featured_designer_layover2{
			height:66%;
		}
		#featured_designer_header2{
			font-size:18px;
			padding-top:6.25%;
			margin-left:34%;
			margin-right:34%;
			text-align:center;
			display:block;
		}
		#featured_designer_description{
			text-align:center;
			display:block;
			font-size:14px;
			margin-right:7%;
			margin-left:7%;
		}
		#featured_designer_filler{
			margin-right:45%;
			margin-left:45%;
			padding-top: 5%;
			margin-bottom: 5%;
			border-bottom:3px solid orange;
			height:10px;
		}
		#featured_designer_read_shop{
			height:20%;
			font-size:14px;
			line-height:60px;

		}
		.home_product_name{
			font-size:14px;
		}
		.home_product_description{
			font-size:18px;
		}
		#home_product_photo{
			height:400px;
			padding-top:10px;
		}
		#footer_big{
			display:none !important;
			visibility: hidden !important;
		}
		#footer_small{
			background-color:black;display:block;float:left;width:100%;color:white;text-align: center;
			font-size:16px;
			padding-top:10px;
		}
		.catalog_product_wrapper {
     		padding-left:10px; padding-right:10px;border:1px solid #f2f2f2;height:240px;
     		margin-bottom:30px;
     	}

     	.catalog_product_designer{
     		text-align:center;font-size:9px;color:#c7c7c7;
     	}
     	.catalog_product_name{
     		text-align:center;font-size:12px;
     	}
     	.catalog_product_price{
     		text-align:center;font-size:12px;
     	}
     	.catalog_product_image img{
     		height:160px;
     	}

     	/* Products page */

     	.product_main_image{
     		border:1px solid #f2f2f2;
     		display:block;
     		float:left;
     		width:100%;
     	}

     	.product_thumb_image{

     		border:1px solid #f2f2f2;
     		height:60px;

     	}
     	.product_thumb_image img{
     		width:100%;
     		height:100%;
     	}
     	#product_designer{
     		font-size:14px;color:#b2b2b2;
     	}
     	#product_name{
     		font-size:18px;
     	}
     	#product_price{
     		font-size:18px;
     	}
     	#product_description{
     		display:none;
     	}
     	#complete_the_look_title{
			height:55px; line-height:55px; font-size:18px;color:#000000;text-align:center;
     	}
     	.ctl-designer{
     		font-size:11px; color:#d1d1d1;
     	}
     	.ctl-name{
     		font-size:14px;
     	}
     	.ctl-price{
     		font-size:14px;
     	}
     	.ctl-wrapper{
     		display:block;float:left;
     		padding-bottom:20px;
     	}


     	/* Ambassadors page */

     	#ambassador-page-title{
     		font-size:24px;line-height:22px;text-align:center;color:#000000;
     		padding-bottom:20px;
     		padding-top:15px;
     	}

     	.ambassador-container{
     		padding-bottom:5px;
     	}
     	.ambassadors-grid-mother {
     		padding-bottom:30px;position:relative;height:100%;
     	}
     	.ambassador-grid-item-wrapper
     	{
     		height:200px;position:relative;
     		margin-bottom:15px;
     	}
     	.ambassador-grid-layover
     	{
     		position:absolute;width:100%;height:70px;bottom:0px;background-color:rgba(250,250,250, 0.95);
     	}
     	.ambassador-grid-layover-spacing{
     		padding-left:15px;padding-top:15px;
     	}
     	.ambassador-grid-image img
     	{
     		height:200px;
     	}
     	.ambassador-name
     	{
     		font-size:14px;
     	}
     	.ambassador-job
     	{
     		font-size:10px;color:#000000;letter-spacing: 0.01em;
     	}
     	.ambassador-location
     	{
     		font-size:10px;color:#b2b2b2;line-height:10px;letter-spacing: 0.1em;
     	}
     	.ambassador-social
     	{
     		position:absolute;height:50px;bottom:0px; width:100%;line-height:50px;padding-left:10px;padding-right:10px;
     	}
     	.ambassador-social-wrapper
     	{
     		background-color:#f16c28;
     	}
     	.ambassador-social-wrapper img{
     		padding-left:30px;
     	}


     	/* Login/Signup Page */


     	#signinup_layover{
     		background-color:#ffffff; position:absolute;width:90%;left:5%;top:20px;
     	}
     	#in_or_up{
     		height:40px;line-height:40px
     	}
     	#signup_tab{
     		float:left;width:50%;text-align:center;font-size:14px;background-color:#f2f2f2;
     	}
     	#signin_tab{
     		float:left;width:50%;text-align:center;font-size:14px;
     	}
     	#in_layover{
     		height:385px;
     	}
     	#already_have_account{
     		padding-top:18px;font-size:14px;padding-bottom:20px;
     	}
     	#input_name{
     		height:40px; line-height:40px;border:1px solid #f2f2f2;width:240px;font-size:12px;padding-left:10px;
     	}
     	#input_password{
     		margin-top:10px;height:40px; line-height:40px;border:1px solid #f2f2f2;width:240px;font-size:12px;padding-left:10px;
     	}
     	#remember_forget_wrapper{
     		width:240px;position:relative;height:40px;margin: 0 auto;line-height:40px;
     	}
     	#remember_me{
     		font-size:12px;text-align:left;display:inline-block;float:left;
     	}
     	#forget_password{
     		font-size:12px;text-align:right;display:inline-block;float:right;
     	}
     	#signin_button_wrapper{
     		width:240px;position:relative;height:45px;margin: 0 auto;line-height:45px;background-color:#f16c29;text-align:left;
     	}
     	#email_icon{
     		padding-left:12px;padding-right:42px;
     	}
     	#email_signin_button{
     		color:#ffffff;font-size:12px;display:inline-block;
     	}
     	#alternative_text_wrapper{
     		width:240px;position:relative;height:40px;margin: 0 auto;line-height:40px;background-color:#ffffff;text-align:center;font-size:11px;
     	}
     	#signin_fb_button_wrapper{
     		width:240px;position:relative;height:45px;margin: 0 auto;line-height:45px;background-color:#3b5999;text-align:left;
     	}
     	#fb_icon{
     		padding-left:12px;padding-right:26px;
     	}
     	#fb_signin_button{
     		color:#ffffff;font-size:14px;display:inline-block;
     	}
     	#up_layover{
     		display:none;height:385px;
     	}
     	#signup_description{
     		padding-top:20px;font-size:14px;padding-bottom:20px;padding-left:20px; padding-right:20px;
     	}
     	#login_img{
     		height:465px;
     	}

    }
    @media screen and (min-width: 768px) and (max-width : 992px) {

    	#first_header_row{
    		padding-top:20px;
    	}

    	#logo{
    		padding-left:30px;
    		padding-right:30px;
    		height:30px;
    	}
    	#logo_bootstrap_column{
     		text-align:center;
     	}
    	#shopping_bag{
    		margin-right:5px;
    		width:30px;
    		height:30px;
    	}
    	#shopping_bag_text{
    		font-size:14px;
    	}
    	#just_arrived_designer_name{
    		font-size:36px !important;
    	}
    	#just_arrived_layover{
			height:50% !important;
			width:45% !important;
			left:27.5%;
			top:25% !important;
		}
		#just_arrived_image{
			height:400px;
		}
		#just_arrived_description{
			display:none !important;
		}
		#featured_designer_image{
			content:url('featured_designer_sm.png');
			height:550px;
		}
		#featured_designer_layover{
			left:32%;
			right:32%;
			padding-top:100px;
		}
		#featured_designer_layover2{
			height:45%;
		}
		#featured_designer_header{
			font-size:24px;
			text-align:center;
			display:block;
		}
		#featured_designer_header2{
			font-size:18px;
			padding-top:6.25%;
			margin-left:34%;
			margin-right:34%;
			text-align:center;
			display:block;
		}
		#featured_designer_read_shop{
			height:28%;
			font-size:16px;
			line-height:70px;
			vertical-align: middle;
		}
		#featured_designer_description{
			display:none;
		}
		#featured_designer_filler{
			display:none;
		}
		#footer_big{
			display:none !important;
			visibility: hidden !important;
		}
	#footer_small{
			background-color:black;display:block;float:left;width:100%;color:white;text-align: center;
			padding-top:10px;
			font-size:16px;
		}

		.catalog_product_wrapper {
     		padding-left:10px; padding-right:10px;border:1px solid #f2f2f2;height:350px;
     		margin-bottom:30px;
     	}

     	.catalog_product_designer{
     		text-align:center;font-size:10px;color:#c7c7c7;
     	}
     	.catalog_product_name{
     		text-align:center;font-size:14px;
     	}
     	.catalog_product_price{
     		text-align:center;font-size:16px;
     	}
     	.catalog_product_image img{
     		height:245px;
     	}


     	/* Ambassadors page */

     	#ambassador-page-title
     	{
     		font-size:24px;line-height:22px;text-align:center;color:#000000;
     		padding-bottom:30px;
     		padding-top:50px;
     	}
     	.ambassadors-grid-mother {
     		margin-bottom:20px;position:relative;
     	}
     	.ambassador-grid-item-wrapper
     	{
     		height:320px;position:relative;margin-bottom:30px;
     	}
     	.ambassador-grid-layover
     	{
     		position:absolute;width:100%;height:130px;bottom:0px;background-color:rgba(250,250,250, 0.95);
     	}
     	.ambassador-grid-layover-spacing{
     		padding-left:25px;padding-top:20px;
     	}
     	.ambassador-grid-image img
     	{
     		height:320px;
     	}
     	.ambassador-name
     	{
     		font-size:20px;
     	}
     	.ambassador-job
     	{
     		font-size:12px;color:#000000;line-height:15px;
     	}
     	.ambassador-location
     	{
     		font-size:12px;color:#b2b2b2;line-height:15px;
     	}
     	.ambassador-social
     	{
     		position:absolute;height:40px;bottom:5px; width:100%;line-height:40px;padding-left:5px;padding-right:5px;
     	}
     	.ambassador-social-wrapper
     	{
     		background-color:#f16c28;
     	}
     	.ambassador-social-wrapper img{
     		padding-left:22px;
     	}
     	.ambassador-container{
     		margin-bottom:70px;
     	}

     	/* Login/Signup Page */


     	#signinup_layover{
     		background-color:#ffffff; position:absolute;width:46%;left:27%;top:100px;
     	}
     	#in_or_up{
     		height:50px;line-height:50px
     	}
     	#signup_tab{
     		float:left;width:50%;text-align:center;font-size:16px;background-color:#f2f2f2;
     	}
     	#signin_tab{
     		float:left;width:50%;text-align:center;font-size:16px;
     	}
     	#in_layover{
     		height:415px;
     	}
     	#already_have_account{
     		padding-top:25px;font-size:16px;padding-bottom:15px;
     	}
     	#input_name{
     		height:45px; line-height:45px;border:1px solid #f2f2f2;width:345px;font-size:12px;padding-left:10px;
     	}
     	#input_password{
     		margin-top:10px;height:45px; line-height:45px;border:1px solid #f2f2f2;width:345px;font-size:12px;padding-left:10px;
     	}
     	#remember_forget_wrapper{
     		width:345px;position:relative;height:40px;margin: 0 auto;
     	}
     	#remember_me{
     		font-size:12px;text-align:left;display:inline-block;float:left;
     	}
     	#forget_password{
     		font-size:12px;text-align:right;display:inline-block;float:right;
     	}
     	#signin_button_wrapper{
     		width:345px;position:relative;height:50px;margin: 0 auto;line-height:50px;background-color:#f16c29;text-align:left;
     	}
     	#email_icon{
     		padding-left:20px;padding-right:85px;
     	}
     	#email_signin_button{
     		color:#ffffff;font-size:14px;display:inline-block;
     	}
     	#alternative_text_wrapper{
     		width:345px;position:relative;height:40px;margin: 0 auto;line-height:40px;background-color:#ffffff;text-align:center;font-size:12px;
     	}
     	#signin_fb_button_wrapper{
     		width:345px;position:relative;height:50px;margin: 0 auto;line-height:50px;background-color:#3b5999;text-align:left;
     	}
     	#fb_icon{
     		padding-left:25px;padding-right:70px;
     	}
     	#fb_signin_button{
     		color:#ffffff;font-size:12px;display:inline-block;
     	}
     	#up_layover{
     		display:none;height:415px;
     	}
     	#signup_description{
     		padding-top:25px;font-size:16px;padding-bottom:20px;padding-left:35px; padding-right:35px;
     	}
     	#login_img
     	{
     		height:665px;
     		content:url("signin_bg.png");
     	}

    }
    
    @media screen and (min-width: 992px) and (max-width : 1200px) {
     	nav{
     		line-height:70px;
     		padding-top:0px !important;

     	}
     	#header_nav{
     		height:70px;
     		border-bottom:1px solid #f2f2f2;
     	}
     	#shopping_bag{
     		height:30px;
     		width:30px;
     		margin-right:5px;
     	}
     	#shopping_bag_button{

     	}
     	#logo{
     		padding-left:15px;
     		padding-right:15px;
     		vertical-align:middle;
     		height:25px !important;
     		width:165px;

     	}
     	#logo_column{

     		border-right: 1px solid #f2f2f2;
     	}
     	#logo_bootstrap_column{
     		text-align:left;
     	}
     	#signin{
     		border-right: 1px solid #f2f2f2;
     		height:100%;
     		vertical-align:middle;
			font-style: normal;
			font-size:14px;
     	}
     	#signup{
     		border-right: 1px solid #f2f2f2;
     		height:100%;
			font-style: normal;
			font-size:14px;
     	}
     	#search{
     		text-align: left;
     		border-right: 1px solid #f2f2f2;
     		height:100%;
			font-style: normal;
			font-size:14px;
     	}
     	#search_icon{
     		height:16px;
     		width:16px;
     		margin-right:10px;
     	}
     	#currency{
     		border-right: 1px solid #f2f2f2;
     		height:100%;
			font-style: normal;
			font-size:14px;
     	}
     	#shopping_bag_text{
     		font-size:14px;
     	}
     	#first_header_row{
     		     		

     	}
     	#just_arrived_header{
			font-size:16px;
			padding-top:15%;
			letter-spacing:0.1em;
		}
    	#just_arrived_designer_name{
    		font-size:36px !important;
    	}
    	#just_arrived_layover{
			height:45% !important;
			width:40% !important;
			left:30%;
			top:27.5% !important;
		}
		#just_arrived_shop_now{
			letter-spacing: 0.1em;
		}
		#featured_designer_image{
			height:720px;
		}
		#featured_designer_layover{
			top:10%;left:35%;right:35%;
		}
		#featured_designer_header{
			font-size:30px;
			text-align:center;
			display:block;
			line-height:28px;

		}
		#featured_designer_layover2{
			margin-top:50px;
			height:355px;
		}
		#featured_designer_header2{
			font-size:24px;
			padding-top:6.25%;
			margin-left:34%;
			margin-right:34%;
			text-align:center;
			display:block;
			line-height:1;
		}
		#featured_designer_description{
			text-align:center;
			display:block;
			font-size:16px;
			margin-right:7%;
			margin-left:7%;
		}
		#featured_designer_filler{
			margin-right:45%;
			margin-left:45%;
			padding-top: 5%;
			margin-bottom: 5%;
			border-bottom:3px solid orange;
			height:10px;
		}
		#featured_designer_read_shop{
			height:85px;
			padding-top:25px;
			font-size:18px;

			letter-spacing: 0.1em;
		}
		.home_product_name{
			font-size:16px;
		}
		.home_product_description{
			font-size:20px;
		}
     	#just_arrived_image{
     		height:650px;
     	}
     	#second_header_row{
     		/*padding-top:15px;
     		padding-bottom:25px;*/
     		height:62px;
     		line-height: 62px;
     	}
     	#footer_big{
     		font-size:16px;
     	}
     	.footer_header{
     		padding-bottom:20px;
     	}
     	#footer_small{
     		display:none;visibility: hidden;

     	}


     	/* Catalog */

     	.catalog_product_wrapper {
     		padding-left:10px; padding-right:10px;border:1px solid #f2f2f2;height:550px;
     		margin-bottom:50px;
     	}
     	.catalog_product_designer{
     		text-align:center;font-size:12px;color:#c7c7c7;
     	}
     	.catalog_product_name{
     		text-align:center;font-size:16px;
     	}
     	.catalog_product_price{
     		text-align:center;font-size:18px;
     	}
     	.catalog_product_image img{
     		height:420px;
     	}



     	/* Products page */

     	.product_main_image{
     		border:1px solid #f2f2f2;
     		height:520px;
     		width:420px;
     		display:block;
     		float:left;
     	}

     	.product_thumb_image{
     		margin-bottom:20px;
     		margin-left:17px;
     		border:1px solid #f2f2f2;
     		height:115px;width:115px;
     		display:block;
     		float:left;
     	}

     	#product_designer{
     		font-size:18px;color:#b2b2b2;
     	}
     	#product_name{
     		font-size:24px;
     	}
     	#product_price{
     		font-size:24px;
     	}
     	#product_description{
     		font-size:16px;
     		padding-bottom:25px;
     		border-bottom:1px solid #f2f2f2;
     	}
     	#product_actions{
     		padding-top:20px !important;
     		padding-bottom:20px;
     		border-bottom:1px solid #f2f2f2;
     	}
     	#complete_the_look_title{
			height:100px; line-height:100px; padding-top:50px;font-size:24px;
     	}
     	.ctl-designer{
     		font-size:12px; color:#d1d1d1;
     	}
     	.ctl-name{
     		font-size:16px;
     	}
     	.ctl-price{
     		font-size:16px;
     	}

     	/* Ambassadors page */
     	#ambassador-page-title{
     		font-size:30px;line-height:28px;text-align:center;color:#000000;
     		padding-bottom:50px;
     		padding-top:100px;
     	}
     	.ambassadors-grid-mother {
     		margin-bottom:30px;position:relative;
     	}
     	.ambassador-grid-item-wrapper
     	{
     		height:395px;position:relative;margin-bottom:30px;
     	}
     	.ambassador-grid-layover
     	{
     		position:absolute;width:100%;height:155px;bottom:10px;background-color:rgba(250,250,250, 0.95);
     	}
     	.ambassador-grid-layover-spacing{
     		padding-left:30px;padding-top:25px;
     	}
     	.ambassador-grid-image
     	{
     		height:100%;
     	}
     	.ambassador-name
     	{
     		font-size:24px;
     	}
     	.ambassador-job
     	{
     		font-size:14px;color:#000000;line-height:14px;
     	}
     	.ambassador-location
     	{
     		font-size:14px;color:#b2b2b2;line-height:18px;
     	}
     	.ambassador-social
     	{
     		position:absolute;height:50px;bottom:0px; width:100%;line-height:50px;padding-left:10px;padding-right:10px;
     	}
     	.ambassador-social-wrapper
     	{
     		background-color:#f16c28;
     	}
     	.ambassador-social-wrapper img{
     		padding-left:30px;
     	}
     	.ambassador-container{
     		margin-bottom:70px;
     	}
    }
     @media only screen and (min-width : 1200px) {
     	nav{
     		line-height:70px;
     		padding-top:0px !important;

     	}
     	#header_nav{
     		height:70px;
     		border-bottom:1px solid #f2f2f2;
     	}
     	#shopping_bag{
     		height:30px;
     		width:30px;
     		margin-right:5px;
     	}
     	#shopping_bag_button{

     	}
     	#logo{
     		padding-left:15px;
     		padding-right:15px;
     		vertical-align:middle;
     		height:25px !important;
     		width:165px;

     	}
     	#logo_column{

     		border-right: 1px solid #f2f2f2;
     	}
     	#logo_bootstrap_column{
     		text-align:left;
     	}
     	#signin{
     		border-right: 1px solid #f2f2f2;
     		height:100%;
     		vertical-align:middle;
			font-style: normal;
			font-size:14px;
     	}
     	#signup{
     		border-right: 1px solid #f2f2f2;
     		height:100%;
			font-style: normal;
			font-size:14px;
     	}
     	#search{
     		text-align: left;
     		border-right: 1px solid #f2f2f2;
     		height:100%;
			font-style: normal;
			font-size:14px;
     	}
     	#search_icon{
     		height:16px;
     		width:16px;
     		margin-right:10px;
     	}
     	#currency{
     		border-right: 1px solid #f2f2f2;
     		height:100%;
			font-style: normal;
			font-size:14px;
     	}
     	#shopping_bag_text{
     		font-size:14px;
     	}
     	#first_header_row{
     		     		

     	}
     	#just_arrived_header{
			font-size:16px;
			padding-top:15%;
			letter-spacing:0.1em;
		}
    	#just_arrived_designer_name{
    		font-size:36px !important;
    	}
    	#just_arrived_layover{
			height:45% !important;
			width:40% !important;
			left:30%;
			top:27.5% !important;
		}
		#just_arrived_shop_now{
			letter-spacing: 0.1em;
		}
		#featured_designer_image{
			height:720px;
		}
		#featured_designer_layover{
			top:10%;left:35%;right:35%;
		}
		#featured_designer_header{
			font-size:30px;
			text-align:center;
			display:block;
			line-height:28px;

		}
		#featured_designer_layover2{
			margin-top:50px;
			height:355px;
		}
		#featured_designer_header2{
			font-size:24px;
			padding-top:6.25%;
			margin-left:34%;
			margin-right:34%;
			text-align:center;
			display:block;
			line-height:1;
		}
		#featured_designer_description{
			text-align:center;
			display:block;
			font-size:16px;
			margin-right:7%;
			margin-left:7%;
		}
		#featured_designer_filler{
			margin-right:45%;
			margin-left:45%;
			padding-top: 5%;
			margin-bottom: 5%;
			border-bottom:3px solid orange;
			height:10px;
		}
		#featured_designer_read_shop{
			height:85px;
			padding-top:25px;
			font-size:18px;

			letter-spacing: 0.1em;
		}
		.home_product_name{
			font-size:16px;
		}
		.home_product_description{
			font-size:20px;
		}
     	#just_arrived_image{
     		height:650px;
     	}
     	#second_header_row{
     		/*padding-top:15px;
     		padding-bottom:25px;*/
     		height:62px;
     		line-height: 62px;
     	}
     	#footer_big{
     		font-size:16px;
     	}
     	.footer_header{
     		padding-bottom:20px;
     	}
     	#footer_small{
     		display:none;visibility: hidden;

     	}


     	/* Catalog */

     	.catalog_product_wrapper {
     		padding-left:10px; padding-right:10px;border:1px solid #f2f2f2;height:550px;
     		margin-bottom:50px;
     	}
     	.catalog_product_designer{
     		text-align:center;font-size:12px;color:#c7c7c7;
     	}
     	.catalog_product_name{
     		text-align:center;font-size:16px;
     	}
     	.catalog_product_price{
     		text-align:center;font-size:18px;
     	}
     	.catalog_product_image img{
     		height:420px;
     	}



     	/* Products page */

     	.product_main_image{
     		border:1px solid #f2f2f2;
     		height:520px;
     		width:420px;
     		display:block;
     		float:left;
     	}

     	.product_thumb_image{
     		margin-bottom:20px;
     		margin-left:17px;
     		border:1px solid #f2f2f2;
     		height:115px;width:115px;
     		display:block;
     		float:left;
     	}

     	#product_designer{
     		font-size:18px;color:#b2b2b2;
     	}
     	#product_name{
     		font-size:24px;
     	}
     	#product_price{
     		font-size:24px;
     	}
     	#product_description{
     		font-size:16px;
     		padding-bottom:25px;
     		border-bottom:1px solid #f2f2f2;
     	}
     	#product_actions{
     		padding-top:20px !important;
     		padding-bottom:20px;
     		border-bottom:1px solid #f2f2f2;
     	}
     	#complete_the_look_title{
			height:100px; line-height:100px; padding-top:50px;font-size:24px;
     	}
     	.ctl-designer{
     		font-size:12px; color:#d1d1d1;
     	}
     	.ctl-name{
     		font-size:16px;
     	}
     	.ctl-price{
     		font-size:16px;
     	}

     	/* Ambassadors page */
     	#ambassador-page-title{
     		font-size:30px;line-height:28px;text-align:center;color:#000000;
     		padding-bottom:50px;
     		padding-top:100px;
     	}
     	.ambassadors-grid-mother {
     		margin-bottom:30px;position:relative;
     	}
     	.ambassador-grid-item-wrapper
     	{
     		height:395px;position:relative;margin-bottom:30px;
     	}
     	.ambassador-grid-layover
     	{
     		position:absolute;width:100%;height:155px;bottom:10px;background-color:rgba(250,250,250, 0.95);
     	}
     	.ambassador-grid-layover-spacing{
     		padding-left:30px;padding-top:25px;
     	}
     	.ambassador-grid-image
     	{
     		height:100%;
     	}
     	.ambassador-name
     	{
     		font-size:24px;
     	}
     	.ambassador-job
     	{
     		font-size:14px;color:#000000;line-height:14px;
     	}
     	.ambassador-location
     	{
     		font-size:14px;color:#b2b2b2;line-height:18px;
     	}
     	.ambassador-social
     	{
     		position:absolute;height:50px;bottom:0px; width:100%;line-height:50px;padding-left:10px;padding-right:10px;
     	}
     	.ambassador-social-wrapper
     	{
     		background-color:#f16c28;
     	}
     	.ambassador-social-wrapper img{
     		padding-left:30px;
     	}
     	.ambassador-container{
     		margin-bottom:70px;
     	}

     	/* Login/Signup Page */


     	#signinup_layover{
     		background-color:#ffffff; position:absolute;width:38%;left:31%;top:100px;
     	}
     	#in_or_up{
     		height:60px;line-height:60px
     	}
     	#signup_tab{
     		float:left;width:50%;text-align:center;font-size:18px;background-color:#f2f2f2;
     	}
     	#signin_tab{
     		float:left;width:50%;text-align:center;font-size:18px;
     	}
     	#in_layover{
     		height:500px;
     	}
     	#already_have_account{
     		padding-top:50px;font-size:18px;padding-bottom:30px;
     	}
     	#input_name{
     		height:50px; line-height:50px;border:1px solid #f2f2f2;width:360px;font-size:14px;padding-left:10px;
     	}
     	#input_password{
     		margin-top:10px;height:50px; line-height:50px;border:1px solid #f2f2f2;width:360px;font-size:14px;padding-left:10px;
     	}
     	#remember_forget_wrapper{
     		width:360px;position:relative;height:40px;margin: 0 auto;
     	}
     	#remember_me{
     		font-size:14px;text-align:left;display:inline-block;float:left;
     	}
     	#forget_password{
     		font-size:14px;text-align:right;display:inline-block;float:right;
     	}
     	#signin_button_wrapper{
     		width:360px;position:relative;height:55px;margin: 0 auto;line-height:55px;background-color:#f16c29;text-align:left;
     	}
     	#email_icon{
     		padding-left:25px;padding-right:85px;
     	}
     	#email_signin_button{
     		color:#ffffff;font-size:14px;display:inline-block;
     	}
     	#alternative_text_wrapper{
     		width:360px;position:relative;height:40px;margin: 0 auto;line-height:40px;background-color:#ffffff;text-align:center;font-size:14px;
     	}
     	#signin_fb_button_wrapper{
     		width:360px;position:relative;height:55px;margin: 0 auto;line-height:55px;background-color:#3b5999;text-align:left;
     	}
     	#fb_icon{
     		padding-left:25px;padding-right:70px;
     	}
     	#fb_signin_button{
     		color:#ffffff;font-size:14px;display:inline-block;
     	}
     	#up_layover{
     		display:none;height:500px;
     	}
     	#signup_description{
     		padding-top:50px;font-size:18px;padding-bottom:30px;padding-left:50px; padding-right:50px;
     	}
     	#login_img
     	{
     		height:755px;
     		content:url("signin_bg.png");
     	}

    }