<?php echo $header; ?><?php echo $column_left; ?><?php //echo $column_right; ?>
<div id="content" >
	<?php echo $content_top; ?>
	<style>
	#blog_frame{
		z-index: 0;
		margin-top: 0px; 
		overflow-x: hidden; 
		-ms-overflow-x: hidden;
		width: 960px;
		height: 2000px;
	}
	</style>
	<script>
		document.getElementById('blog_frame').height = document.getElementById('blog_frame').contentWindow.document.body.scrollHeight + "px";
		alert('lol');
	</script>
	<iframe name="main" id="blog_frame" src="http://coterique.wordpress.com/" frameborder="no" scrolling="no"></iframe>
</div>
<?php echo $footer; ?>
