<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content">
	<?php echo $content_top; ?>
	
	<iframe name="main" src="http://blog.coterique.com/" frameborder="no" height="600" width="977" style="overflow-x: hidden; -ms-overflow-x: hidden;"></iframe>
	
	<?php echo $text_content; ?>

	<?php echo $content_bottom; ?>
</div>
<?php echo $footer; ?>