<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content">
	<?php echo $content_top; ?>
	<iframe width="100%" height="600" src="http://cloudpress.io/campaign/1bj4l2o?isEmbed=true" frameborder="0" scrolling="no"></iframe>
	<!--<iframe width="900" height="600" src="http://cloudpress.io/campaign/0e66ja1?isEmbed=true" frameborder="0" scrolling="no"></iframe>-->
	

	
</div>
<?php echo $footer; ?>
