
  <?php foreach ($banners as $banner) { ?>
  <?php if ($banner['link']) { ?>

    <div style="background:url(image/<?php echo $banner['image']; ?>)" class="item item-lg">
        <a href="<?php echo $banner['link']; ?>">
            <div class="caption caption-2">
              <h2><?php echo $banner['title']; ?></h2>
            </div>
        </a>
    </div>

   <?php }else{ ?>
          <div style="background:url(image/<?php echo $banner['image']; ?>)" class="item item-lg">
              <h2><?php echo $banner['title']; ?></h2>
          </div>
      <?php } ?>
  <?php } ?>

