<!--<div class="list-group">
  <?php /*foreach ($categories as $category) { */?>
  <?php /*if ($category['category_id'] == $category_id) { */?>
  <a href="<?php /*echo $category['href']; */?>" class="list-group-item active"><?php /*echo $category['name']; */?></a>
  <?php /*if ($category['children']) { */?>
  <?php /*foreach ($category['children'] as $child) { */?>
  <?php /*if ($child['category_id'] == $child_id) { */?>
  <a href="<?php /*echo $child['href']; */?>" class="list-group-item active">&nbsp;&nbsp;&nbsp;- <?php /*echo $child['name']; */?></a>
  <?php /*} else { */?>
  <a href="<?php /*echo $child['href']; */?>" class="list-group-item">&nbsp;&nbsp;&nbsp;- <?php /*echo $child['name']; */?></a>
  <?php /*} */?>
  <?php /*} */?>
  <?php /*} */?>
  <?php /*} else { */?>
  <a href="<?php /*echo $category['href']; */?>" class="list-group-item"><?php /*echo $category['name']; */?></a>
  <?php /*} */?>
  <?php /*} */?>
</div>-->


<select id="input-limit" class="selectpicker" onchange="location = this.value;">
  <?php foreach ($categories as $category) { ?>
  <?php if ($category['category_id'] == $category_id) { ?>
  <option value="<?php echo $category['href']; ?>" selected="selected"><?php echo $category['name']; ?></option>
  <?php if ($category['children']) { ?>
    <?php foreach ($category['children'] as $child) { ?>
        <?php if ($child['category_id'] == $child_id) { ?>
        <option selected="selected" value="<?php echo $child['href']; ?>" >- <?php echo $child['name']; ?></option>
      <?php }else{ ?>
          <option  value="<?php echo $child['href']; ?>" >- <?php echo $child['name']; ?></option>
      <?php } ?>
        <?php } ?>
      <?php } ?>
    <?php } else { ?>
      <option value="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></option>
    <?php } ?>
  <?php } ?>

</select>
