@font-face {
	font-family: futura_font;
	src: url(../fonts/FuturaStd-Book.eot);
	src: local(futura_font), url(../fonts/FuturaStd-Book.woff) format('woff'), url(../fonts/FuturaStd-Book.ttf) format('truetype'), url(../fonts/FuturaStd-Book.svg) format('svg');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: futura_bold;
	src: url(../fonts/Futura-Bold.ttf) format('truetype')
}
html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0
}
body {
	background-color: #FFF;
	color: #000;
	font-family: futura_font, sans-serif;
	margin: 0;
	padding: 0
}
a, body, input, select, td, textarea, th {
	font-size: 14px
}
ul {
	list-style: none
}
.welcome, h1 {
	color: #000;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01)
}
h2 {
	color: #000;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 5px
}
p {
	margin-top: 0;
	margin-bottom: 20px
}
a, a b, a:visited {
	color: #000;
	text-decoration: underline;
	cursor: pointer
}
a:hover {
	text-decoration: none
}
a img {
	border: none
}
form {
	padding: 0;
	margin: 0;
	display: inline
}
input[type=password], input[type=text], textarea {
	background: #F8F8F8;
	border: 1px solid #CCC;
	padding: 3px;
	margin-left: 0;
	margin-right: 0
}
select {
	background: 0 0;
	border: 1px solid #000;
	padding: 2px
}
label {
	cursor: pointer
}
#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: left
}
#column-left {
	float: left;
	width: 150px
}
#column-right {
	float: right;
	width: 180px
}
#content {
	margin-bottom: 0
}
#content #left-column {
	float: left;
	width: 641px
}
#content #right-column {
	float: right;
	width: 306px;
	padding-left: 13px;
	height: 484px
}
#content #right-column a+a {
	margin-top: 6px;
	float: left
}
#column-left+#column-right+#content, #column-left+#content {
	margin-left: 165px
}
#column-right+#content {
	margin-right: 195px
}
#header {
	height: 120px;
	position: relative;
	z-index: 99
}
#header #logo {
	position: absolute;
	top: 38px;
	left: 0
}
#language {
	position: absolute;
	top: 15px;
	left: 320px;
	width: 80px;
	color: #999;
	line-height: 17px
}
#language img {
	cursor: pointer;
	margin-right: 5px
}
#currency {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 425px;
	color: #999;
	line-height: 17px
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px
}
#currency a b {
	color: #000;
	text-decoration: none
}
#header #cart {
	position: relative;
	top: 0;
	z-index: 100;
	min-width: 200px;
	width: 960px;
	margin: auto
}
#header #cart .heading {
	float: right;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 14px;
	padding-right: 14px;
	position: relative;
	z-index: 100
}
#header #cart .heading h4 {
	color: #333;
	font-size: 15px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 3px
}
#header #cart .heading a {
	color: #000;
	text-decoration: none
}
#header #cart .heading a span {
	padding-right: 15px
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	background: #FFF;
	z-index: 100
}
#header #cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE
}
#header #cart.active .content {
	display: block
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEE
}
.mini-cart-info .image {
	width: 1px
}
.mini-cart-info .image img {
	border: 1px solid #EEE;
	text-align: left
}
.mini-cart-info .name small {
	color: #666
}
.mini-cart-info .quantity, .mini-cart-info .remove, .mini-cart-info td.total {
	text-align: right
}
.mini-cart-info .remove img {
	cursor: pointer
}
.mini-cart-total {
	text-align: right
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px
}
.mini-cart-total td {
	color: #000;
	padding: 4px
}
#header #cart .checkout {
	text-align: right;
	clear: both
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center
}
#header #search {
	position: absolute;
	top: 82px;
	right: 17px;
	width: 110px;
	z-index: 15
}
#header .button-search {
	position: absolute;
	right: -17px;
	background: url(../image/button-search.png) center center no-repeat;
	width: 15px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	padding: 3px 3px 2px;
	height: 12px;
	cursor: pointer
}
#header #search input {
	background: #FFF;
	padding: 1px;
	width: 103px;
	height: 15px;
	border: 1px solid #000
}
#header #icons {
	position: absolute;
	top: 82px;
	right: 130px
}
#header #icons img {
	padding-left: 5px
}
#header #welcome {
	position: absolute;
	top: 14px;
	right: 0;
	z-index: 5;
	width: 200px;
	text-align: right;
	color: #000
}
#header #welcome a {
	text-decoration: none
}
#header #welcome a:hover {
	text-decoration: underline
}
#topletters {
	padding: 20px
}
#topletters a {
	padding: 0 5px;
	margin: 5px 0;
	text-decoration: none;
	border-right: 2px solid #FFF;
	border-left: 2px solid #FFF
}
#topletters a:active, #topletters a:hover {
	color: #FF843D;
	border-right: 2px solid #000;
	border-left: 2px solid #000
}
.designerletter {
	border-top: 1px dotted #000;
	padding: 15px 30px 35px
}
.designerletter h1 {
	text-align: left;
	display: block;
	width: 30px;
	position: absolute
}
.designerletter a {
	padding: 0 5px;
	margin: 5px 20px 5px 50px;
	text-decoration: none;
	width: 200px;
	border-right: 2px solid #FFF;
	border-left: 2px solid #FFF
}
.designerletter a:hover {
	color: #FF843D;
	border-right: 2px solid #000;
	border-left: 2px solid #000
}
#menu {
	background: #FFF;
	border-bottom: 4px solid #000;
	border-top: 4px solid #000;
	height: 38px;
	margin: 0;
	padding: 0;
	margin-bottom: 12px
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0
}
#menu>ul>li {
	position: relative;
	float: left;
	z-index: 10;
	padding: 0;
	padding-left:30px;
}
#menu>ul>li>a {
	font-weight: 400;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	text-align: center;
	display: block;
	width: 116px;
	margin: 12px 0;
	z-index: 6;
	border-right: 2px solid #FFF;
	border-left: 2px solid #FFF;
	position: relative
}
#menu>ul>li:hover>a {
	color: #FF843D;
	border-right: 2px solid #000;
	border-left: 2px solid #000
}
#menu>ul>li>div {
	display: none;
	position: absolute;
	z-index: 5;
	padding: 4px 0 5px;
	min-width: 100px;
	background: url(../image/menu.png)
}
#menu>ul>li:hover>div {
	display: table
}
#menu>ul>li>div>ul {
	display: table-cell
}
#menu>ul>li ul+ul {
	padding-left: 20px
}
#menu>ul>li ul>li>a {
	text-decoration: none;
	padding: 4px 20px;
	color: #FFF;
	display: block;
	white-space: nowrap;
	min-width: 100px
}
#menu>ul>li ul>li>a:hover {
	background: #FF843D;
	color: #FFF
}
.breadcrumb {
	color: #000;
	margin-bottom: 10px;
	margin-top: 15px;
	float: left
}
.category-info+.breadcrumb {
	color: #000;
	margin-bottom: 10px;
	margin-top: 0;
	float: left
}
.breadcrumb a {
	text-decoration: none
}
.attention, .information, .success, .warning {
	padding: 10px;
	margin-bottom: 15px;
	color: #000
}
.attention, .success, .warning {
	background: #FFF;
	border-bottom: 1px dotted #000
}
.attention .close, .information .close, .success .close, .warning .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer
}
.required {
	color: #F26D2B;
	font-weight: 700
}
.error {
	display: block;
	color: red
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: 400;
	font-family: Verdana, Geneva, sans-serif;
	display: block
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px
}
table.form tr td:first-child {
	width: 150px
}
table.form>*>*>td {
	color: #000
}
table.form td {
	padding: 4px
}
input.large-field, select.large-field {
	width: 300px
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	margin-bottom: 20px
}
table.list td {
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0 5px
}
.list thead td, table.list thead td a {
	text-decoration: none;
	color: #222;
	font-weight: 700
}
table.list tbody td {
	vertical-align: top;
	padding: 0 5px
}
table.list .left {
	text-align: left;
	padding: 7px
}
table.list .right {
	text-align: right;
	padding: 7px
}
table.list .center {
	text-align: center;
	padding: 7px
}
table.radio {
	width: 100%;
	border-collapse: collapse
}
table.radio td {
	padding: 5px;
	vertical-align: top
}
table.radio td label {
	display: block
}
table.radio tr td:first-child {
	width: 1px
}
table.radio tr td:first-child input {
	margin-top: 1px
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer
}
.pagination {
	border-top: 1px solid #EEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px
}
.pagination .links {
	float: right
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: 400;
	text-decoration: none;
	color: #269BC6;
	background: #FFF
}
.pagination .results {
	float: left;
	padding-top: 3px
}
a.button, input.button {
	cursor: pointer;
	color: #FFF;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 700;
	background: #f26d2b;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px
}
input.button {
	margin: 0;
	border: 0;
	padding: 5px 12px
}
a.button:hover, input.button:hover {
	background: #F26D2B
}
.buttons {
	background: #FFF;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px
}
.buttons .left {
	float: left;
	text-align: left
}
.buttons .right {
	float: right;
	text-align: right
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto
}
.htabs {
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDD;
	float: left
}
.htabs a {
	background: #FFF;
	padding: 7px 15px 6px;
	float: left;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	color: #000;
	margin-right: 2px;
	display: none;
	border: 1px dotted #000
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFF
}
.tab-content {
	border: 1px dotted #000;
	width: 938px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	z-index: 2;
	float: left;
	overflow: auto
}
.box {
	margin-bottom: 20px;
	margin-top: 7px
}
.box .box-heading {
	padding: 8px 10px 7px;
	font-family: futura_font, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	color: #000
}
.box .box-content {
	background: #FFF;
	padding-left: 7px
}
.box-product {
	width: 100%;
	overflow: auto
}
.box-product>div {
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px
}
#column-left+#column-right+#content .box-product>div {
	width: 119px
}
.box-product .image {
	display: block;
	margin-bottom: 0
}
.box-product .image img {
	padding: 3px
}
.box-product .name a {
	color: #000;
	text-decoration: none;
	display: block;
	margin-bottom: 4px
}
.box-product .brand a {
	color: #000;
	text-decoration: none;
	display: block;
	font-weight: 700;
	margin-bottom: 4px
}
.box-product .price {
	display: block;
	color: #333;
	margin-bottom: 4px
}
.box-product .price-old {
	color: black;
	text-decoration: line-through
}
.box-product .price-new {
	font-weight: 700;
	color: red
}
.box-product .rating {
	display: block;
	margin-bottom: 4px
}
.box-category {
	margin-top: 0
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0
}
.box-category>ul>li {
	padding: 8px 0
}
.box-category>ul>li>a {
	text-decoration: none;
	color: #000
}
.box-category>ul>li ul {
	display: none
}
.box-category>ul>li a.active {
	font-weight: 700
}
.box-category>ul>li a.active+ul {
	display: block
}
.box-category>ul>li ul>li {
	padding: 3px 0 3px 5px
}
.box-category>ul>li ul>li>a {
	text-decoration: none;
	font-size: 12px;
	padding: 0 5px;
	border-right: 1px solid #FFF;
	border-left: 1px solid #FFF;
	color: #000
}
.box-category>ul>li ul>li>a.active, .box-category>ul>li ul>li>a:hover {
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	color: #FF843D;
	font-weight: 400
}
#content .content {
	padding: 0;
	margin-bottom: 0
}
#content .content .left {
	float: left;
	width: 49%
}
#content .content .right {
	float: right;
	width: 49%
}
.category-info {
	margin-top: 15px;
	overflow: auto;
	margin-bottom: 0
}
.category-info .image {
	float: left;
	padding: 0
}
.category-list {
	overflow: auto;
	margin-bottom: 20px
}
.category-list ul {
	float: left;
	width: 18%
}
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: 700;
	padding: 5px 8px;
	margin-bottom: 6px
}
.manufacturer-content {
	padding: 8px
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px
}
.product-filter {
	padding-bottom: 5px;
	margin-bottom: 5px;
	overflow: auto
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333
}
.product-filter .display a {
	font-weight: 700
}
.product-filter .sort {
	float: right;
	color: #000;
	margin-top: 15px
}
.category-info+.breadcrumb+ .product-filter .sort {
	float: right;
	color: #000;
	margin-top: 0
}
.product-filter .sort a {
	color: #000;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	margin-left: -5px
}
.product-filter .sort b {
	padding-left: 4px;
	padding-right: 4px
}
.product-filter .sort a:active {
	color: #FF843D
}
.product-filter .sort select {
	background: 0 0;
	line-height: 1;
	border: 1px dotted #000
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #000
}
.product-filter .limit select {
	background: 0 0;
	line-height: 1;
	border: 1px dotted #000
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: 700
}
.product-compare a {
	text-decoration: none;
	font-weight: 700
}
.product-list>div {
	overflow: auto;
	margin-bottom: 15px
}
.product-list .right {
	float: right;
	margin-left: 15px
}
.product-list>div+div {
	border-top: 1px solid #EEE;
	padding-top: 16px
}
.product-list .image {
	float: left;
	margin-right: 10px
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7
}
.product-list .name {
	margin-bottom: 3px
}
.product-list .name a {
	color: #38B0E3;
	font-weight: 700;
	text-decoration: none
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D
}
.product-list .rating {
	color: #7B7B7B
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333;
	font-size: 12px
}
.price .price-new {
	color: red;
}
.product-list .price-old {
	color: black;
	text-decoration: line-through
}
.product-list .price-new {
	font-weight: 700;
	color: red
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: 400;
	color: #BBB
}
.product-list .cart, .product-list .compare, .product-list .wishlist {
	margin-bottom: 3px
}
.product-list .wishlist a {
	color: #333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url(../image/add.png) left center no-repeat
}
.product-list .compare a {
	color: #333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url(../image/add.png) left 60% no-repeat
}
.product-grid {
	width: 100%;
	overflow: auto
}
.product-grid>div {
	width: 254px;
	padding-left:30px;
	padding-right:30px;
	display: inline-block;
	vertical-align: top;
	/*margin-right: 20px;*/
	margin-bottom: 15px
}
.product-grid a{
	    display: inline-block;
}
#column-left+#column-right+#content .product-grid>div {
	width: 207px
}
.product-grid .image {
	display: inline-block;
	margin-bottom: 0
}
.product-grid .image img {
	width:254px;
	height:400px;
	/*padding: 3px*/
}
.product-grid .name a {
	color: #000;
	//font-weight: 700;
	text-decoration: none;
	display: block;
	margin-bottom: 4px
}
.product-grid .brand a {
	color: #000;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-bottom: 4px
}
.product-grid .description {
	display: none
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px
}
.product-grid .price {
	display: block;
	color: #000;
	margin-bottom: 4px
}
.product-grid .price-old {
	color: black;
	text-decoration: line-through
}
.product-grid .price-new {
	font-weight: 700;
	color: red
}
.product-grid .price .price-tax {
	display: none
}
.product-grid .cart, .product-grid .compare, .product-grid .wishlist {
	margin-bottom: 3px
}
.product-grid .compare a, .product-grid .wishlist a {
	color: #333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url(../image/add.png) left center no-repeat
}
.product-info {
	float: left;
	min-height: 500px;
	overflow: hidden;
	width: 960px;
	margin-bottom: 20px
}
.product-info>.left {
	float: left;
	margin-right: 15px;
	width: 300px
}
.product-info>.center {
	width: 300px;
	float: left
}
.product-info>.right {
	width: 300px;
	float: left;
	padding-left: 10px;
	border-left: 1px dotted #000;
	margin-left: 0
}
.product-info .related_holder {
	width: 300px;
	float: left;
	padding-bottom: 30px
}
.product-info .related_holder .brand a {
	text-decoration: none;
	font-weight: 700
}
.product-info .related_holder .name a {
	text-decoration: none
}
.product-info .image {
	border: 1px dotted #000;
	float: left;
	text-align: center;
	margin-bottom: 20px
}
.product-info .image img {
	width: 300px;
	height: 330px
}
.product-info .image-additional {
	padding-top: 20px;
	width: 300px
}
.product-info .image-additional img {
	border: 1px dotted #000;
	margin-right: 8px
	width:90px;
	height:90px;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-bottom: 10px
}
.product-info .description {
	padding: 0 5px 0 0;
	color: #000
}
.product-info .info {
	padding: 0 5px 10px 0;
	margin-bottom: 10px;
	font-size: 15px;
	color: #000
}
.product-info .description span {
	color: #000
}
.product-info .description a {
	color: #000;
	text-decoration: none
}
.product-info .price {
	padding: 0 5px 10px 0;
	margin-bottom: 10px;
	font-size: 15px;
	color: #000
}
.product-info .price-old {
	color: black;
	text-decoration: line-through
}
.product-info .price .reward, .product-info .price-tax {
	font-size: 12px;
	font-weight: 400;
	color: #999
}
.product-info .price .discount {
	font-weight: 400;
	font-size: 12px;
	color: #4D4D4D
}
.product-info .options {
	padding: 0 5px 10px 0;
	margin-bottom: 10px;
	color: #000
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCC;
	cursor: pointer
}
.product-info .cart {
	padding: 0 5px 10px 0;
	margin-bottom: 20px;
	color: #000
}
.product-info .cart div>span {
	padding-top: 7px;
	display: block;
	color: #999
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px
}
.product-info .review>div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px
}
.product-info .review>div>span {
	color: #38B0E3
}
.product-info .review .share {
	overflow: auto;
	line-height: normal
}
.product-info .review .share a {
	text-decoration: none
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEE
}
.review-list .author {
	float: left;
	margin-bottom: 20px
}
.review-list .rating {
	float: right;
	margin-bottom: 20px
}
.review-list .text {
	clear: both
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	margin-bottom: 20px
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000;
	font-size: 14px;
	font-weight: 700;
	background: #F7F7F7;
	text-align: left
}
.attribute tr td:first-child {
	color: #000;
	font-weight: 700;
	text-align: right;
	width: 20%
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	margin-bottom: 20px
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000;
	font-size: 14px;
	font-weight: 700;
	background: #F7F7F7;
	text-align: left
}
.compare-info tr td:first-child {
	color: #000;
	font-weight: 700;
	text-align: right
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD
}
.compare-info .name a {
	font-weight: 700
}
.compare-info .price-old {
	font-weight: 700;
	color: black;
	text-decoration: line-through
}
.compare-info .price-new {
	font-weight: 700;
	color: red;
}
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	margin-bottom: 20px
}
.wishlist-info td {
	padding: 7px
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: 700;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDD
}
.wishlist-info thead .image {
	text-align: center
}
.wishlist-info thead .model, .wishlist-info thead .name, .wishlist-info thead .stock {
	text-align: left
}
.wishlist-info thead .action, .wishlist-info thead .price, .wishlist-info thead .quantity, .wishlist-info thead .total {
	text-align: right
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDD
}
.wishlist-info tbody .image img {
	border: 1px solid #DDD
}
.wishlist-info tbody .image {
	text-align: center
}
.wishlist-info tbody .model, .wishlist-info tbody .name, .wishlist-info tbody .stock {
	text-align: left
}
.wishlist-info tbody .action, .wishlist-info tbody .price, .wishlist-info tbody .quantity, .wishlist-info tbody .total {
	text-align: right
}
.wishlist-info tbody .price s {
	color: red
}
.wishlist-info tbody .action img {
	cursor: pointer
}
.login-content {
	margin-bottom: 20px;
	overflow: auto
}
.login-content .left {
	float: left;
	width: 48%
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px
}
.order-list {
	margin-bottom: 10px
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px
}
.order-list .order-content {
	padding: 10px 0;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE
}
.order-list .order-content div {
	float: left;
	width: 33.3%
}
.order-list .order-info {
	text-align: right
}
.order-detail {
	background: #EFEFEF;
	font-weight: 700
}
.return-list {
	margin-bottom: 10px
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px
}
.return-list .return-content {
	padding: 10px 0;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE
}
.return-list .return-content div {
	float: left;
	width: 33.3%
}
.return-list .return-info {
	text-align: right
}
.return-product {
	overflow: auto;
	margin-bottom: 20px
}
.return-model, .return-name {
	float: left;
	width: 31%;
	margin-right: 15px
}
.return-quantity {
	float: left;
	width: 31%
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px
}
.return-opened, .return-reason {
	float: left;
	width: 31%;
	margin-right: 15px
}
.return-opened textarea {
	width: 98%;
	vertical-align: top
}
.return-captcha {
	float: left
}
.download-list {
	margin-bottom: 10px
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px
}
.download-list .download-content {
	padding: 10px 0;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE
}
.download-list .download-content div {
	float: left;
	width: 33.3%
}
.download-list .download-info {
	text-align: right
}
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000
}
.cart-info td {
	padding: 7px
}
.cart-info thead td {
	color: #000;
	font-weight: 700;
	background-color: #FFF;
	border-bottom: 1px solid #000
}
.cart-info thead .image {
	text-align: center
}
.cart-info thead .model, .cart-info thead .name, .cart-info thead .quantity {
	text-align: left
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #000
}
.cart-info tbody .image img {
	border: 0
}
.cart-info tbody .image {
	text-align: center
}
.cart-info tbody .model, .cart-info tbody .name, .cart-info tbody .quantity {
	text-align: left
}
.cart-info tbody .quantity img, .cart-info tbody .quantity input[type=image] {
	position: relative;
	top: 4px;
	cursor: pointer
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right
}
.cart-info tbody span.stock {
	color: #FF843D;
	font-weight: 700
}
.cart-module>div {
	display: none
}
.cart-total {
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px
}
.cart-total table {
	float: right
}
.cart-total td {
	padding: 3px;
	text-align: right
}
.checkout-heading {
	background: #FFF;
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
	padding: 8px;
	font-weight: 700;
	font-size: 14px;
	color: #000;
	margin-bottom: 15px
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: 400;
	text-decoration: none
}
.checkout-content {
	padding: 0 0 15px;
	display: none;
	overflow: auto
}
.checkout-content .left {
	float: left;
	width: 48%
}
.checkout-content .right {
	float: right;
	width: 48%
}
.checkout-content .buttons {
	clear: both
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	margin-bottom: 20px
}
.checkout-product td {
	padding: 7px
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: 700;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDD
}
.checkout-product thead .model, .checkout-product thead .name {
	text-align: left
}
.checkout-product thead .price, .checkout-product thead .quantity, .checkout-product thead .total {
	text-align: right
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDD
}
.checkout-product tbody .model, .checkout-product tbody .name {
	text-align: left
}
.checkout-product tbody .price, .checkout-product tbody .quantity, .checkout-product tbody .total {
	text-align: right
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDD
}
.contact-info {
	overflow: auto
}
.contact-info .left, .contact-info .right {
	float: left;
	width: 48%
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px
}
.sitemap-info .left, .sitemap-info .right {
	float: left;
	width: 48%
}
#footer {
	background: #FFF;
	clear: both;
	overflow: auto;
	min-height: 8px;
	padding-top: 15px;
	padding-bottom: 10px
}
#footer a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	font-size: 12px
}
#footer a:hover {
	text-decoration: underline
}
#powered {
	margin-top: 0;
	text-align: right;
	clear: both
}
.banner div {
	text-align: center;
	width: 100%;
	display: none
}
.banner div img {
	margin-bottom: 0
}
.fashion-grid {
	width: 100%;
	overflow: auto
}
.fashion-grid>div {
	width: 215px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 15px
}
.fashion-grid .image {
	display: block;
	margin-bottom: 0
}
.fashion-grid .image img {
	padding: 3px;
	width: 210px
}
.fashion-grid .name a {
	color: #000;
	//font-weight: 700;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	padding-left: 4px
}
.fashion-grid .brand a {
	color: #000;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	padding-left: 4px
}
.fashion-grid .description {
	display: none
}
.fashion-grid .rating {
	display: block;
	margin-bottom: 4px
}
.fashion-grid .price {
	display: block;
	color: #000;
	margin-bottom: 4px;
	padding-left: 4px
}
.fashion-grid .price-old {
	color: black;
	text-decoration: line-through
}
.fashion-grid .price-new {
	font-weight: 700;
	color: red;
}
.fashion-grid .price .price-tax {
	display: none
}
.fashion-grid .cart, .fashion-grid .compare, .fashion-grid .wishlist {
	margin-bottom: 3px
}
.fashion-grid .compare a, .fashion-grid .wishlist a {
	color: #333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url(../image/add.png) left center no-repeat
}