<form method="post" action="<?php echo $action; ?>">
    <input type="hidden" name="amount" value="<?php echo $orderamount; ?>" />
	<input type="hidden" name="desc" value="wallety" />
	<input type="hidden" name="gid" value="<?php echo $merchantid; ?>" />
	<input type="hidden" name="merchinvno" value="<?php echo $orderid; ?>" />
	<input type="hidden" name="redirect" value="<?php echo $browserbackurl; ?>" />
	<input type="hidden" name="check_sum" value="<?php echo $signature; ?>" />
	<div class="buttons">
		<div class="right">
			<input type="submit" name="checkout" value="<?php echo $button_confirm; ?> with Wallety" class="button" />
		</div>
	</div>
</form>