<div id="footer">
<!--<a onclick="javascript:usertalk.call();">CALL US</a>-->
/
<a href="<?php echo $terms; ?>"><?php echo $text_terms; ?></a>
/
<a href="http://coterique.com/index.php?route=information/information&information_id=4"><?php echo $text_about; ?></a>
/
<a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a>
/
<a href="http://coterique.com/index.php?route=information/information&information_id=7"><?php echo $text_careers; ?></a>
/
<a href="#"><?php echo $text_payment; ?></a>
/
<a href="#"><?php echo $text_shipping; ?></a>
/
<a href="<?php echo $returns; ?>"><?php echo $text_return; ?></a>

<!--  <div class="column">
    <h3><?php echo $text_service; ?></h3>
    <ul>
      <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
      <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
      <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>
    </ul>
  </div>
  <div class="column">
    <h3><?php echo $text_extra; ?></h3>
    <ul>
      <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>
      <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
      <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
      <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
    </ul>
  </div>
  <div class="column">
    <h3><?php echo $text_account; ?></h3>
    <ul>
      <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
      <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
      <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
      <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>
    </ul>
  </div>
</div>
<div id="powered"></div>
</div> -->
<!--
<img src="http://coterique.com/catalog/view/theme/shop/image/CC%20Logo.PNG" height="70px" /><img src="http://coterique.com/catalog/view/theme/shop/image/image001.jpg" height="70px"/>
<img src="http://coterique.com/catalog/view/theme/shop/image/wallety.JPG" height="70px" width="220px"/>
-->

</body></html>
