<div style="margin: auto;width: 960px;" id="footer">
<!--<a onclick="javascript:usertalk.call();">CALL US</a>-->
<div id="newBorder" style="margin-top: -9px">
<div id="border1" style="border-top: 4px solid #000000;width: 435px;"></div>
<div id="icons" style="margin-left: 450px;margin-top: -10px;">
        <a target="_blank" href="https://www.facebook.com/pages/Coterique/387226174709700" ><img src="http://coterique.com/catalog/view/theme/shop/image/icon_facebook.png" alt="facebook" height="17" width="17"></a>
        <a target="_blank" href="https://twitter.com/Coterique"><img src="http://coterique.com/catalog/view/theme/shop/image/icon_twitter.png" alt="twitter" height="17" width="17"></a>
       <!-- <a target="_blank" href="http://pinterest.com/coterique/"><img src="http://coterique.com/catalog/view/theme/shop/image/icon_pinterest.png" alt="pinterest" height="17" width="17"></a>
	    <a target="_blank" href="http://coterique.tumblr.com/"><img src="http://coterique.com/catalog/view/theme/shop/image/icon_tumblr.png" alt="tumblr" height="17" width="17"></a>-->
	    <a target="_blank" href="http://instagram.com/coterique"><img src="http://coterique.com/catalog/view/theme/shop/image/icon_instagram.png" alt="instagram" height="17" width="17"></a>
</div>
<div id="border2" style="border-top: 4px solid #000000;width: 435px;float: right;margin-top: -15px;"></div>
</div>
<!--
/
<a href="<?php echo $terms; ?>"><?php echo $text_terms; ?></a>
/
<a href="http://coterique.com/index.php?route=information/information&information_id=4"><?php echo $text_about; ?></a>
/
<a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a>
/
<a href="http://coterique.com/index.php?route=information/information&information_id=7"><?php echo $text_careers; ?></a>
/
<a href="#"><?php echo $text_payment; ?></a>
/
<a href="#"><?php echo $text_shipping; ?></a>
/
<a href="<?php echo $returns; ?>"><?php echo $text_return; ?></a> -->

  <div class="column" style="width:400px;float:left;">
    <h3><a href="http://coterique.com/about-us" style="font-weight:bold; font-size:1.17em;">About Us</a></h3>
    <ul>
      <li><a href="#">The Company</a></li>
      <li><a href="#">Our Ambassadors</a></li>
      <li><a href="http://coterique.com/careers">Careers</a></li>
      <li><a href="#">Advertising</a></li>
      <li><a href="http://coterique.com/index.php?route=information/terms">Terms & Conditions</a></li>
    </ul>
  </div>
  <div class="column" style="width:350px;float:left;">
    <h3>Customer Service</h3>
    <ul>
      <li><a href="http://coterique.com/shipping-information">Shipping Information</a></li>
      <li><a href="http://coterique.com/return-policy">Returns & Exchange</a></li>
      <li><a href="#">Payment Security</a></li>
      <li><a href="#">Private Shopping</a></li>
      <li><a href="#">Gift Cards</a></li>
      <li><a href="#">FAQs</a></li>

    </ul>
  </div>
  <div class="column" style="width:200px;float:left;">
    <h3><a href="http://coterique.com/index.php?route=information/contact" style="font-weight:bold; font-size:1.17em;">Contact Us</a></h3>
  </div>
  <!--
  <div class="column">
    <h3><?php echo $text_extra; ?></h3>
    <ul>
      <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>
      <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>
      <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>
      <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>
    </ul>
  </div>
  <div class="column">
    <h3><?php echo $text_account; ?></h3>
    <ul>
      <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
      <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
      <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
      <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>
    </ul>
  </div>
</div>
<div id="powered"></div>
</div> -->
<!--
<img src="http://coterique.com/catalog/view/theme/shop/image/CC%20Logo.PNG" height="70px" /><img src="http://coterique.com/catalog/view/theme/shop/image/image001.jpg" height="70px"/>
<img src="http://coterique.com/catalog/view/theme/shop/image/wallety.JPG" height="70px" width="220px"/>
-->



</body></html>
