<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>

<div id="content">

<div id="left-column">
<?php echo $content_top; ?>
<h1 style="display: none;"><?php echo $heading_title; ?></h1>
<?php echo $content_bottom; ?></div>

<div id="right-column">
	<!--<a href="http://coterique.com/index.php?route=information/mag">
		<img src='http://coterique.com/catalog/view/theme/shop/image/use.jpg' alt="MAG">
	</a>-->
	<iframe src="//player.vimeo.com/video/76481708" width="306" height="218"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
	<!--<iframe width="306" height="218" src="//www.youtube.com/embed/hhiSbNv7y04" frameborder="0" allowfullscreen></iframe>-->
	<a href="http://coterique.com/index.php?route=product/category&path=20_177">
		<img src='http://coterique.com/catalog/view/theme/shop/image/useth.jpg' alt="Just In"><!--useth-->
	</a>
</div>
</div>

<?php echo $footer; ?>
