<?php echo $header; ?>
<div id="content">
<div id="big-banner">
	<?php echo $content_top;?>
	<!-- <div style="float:left;padding-bottom:10px;"><img src="http://coterique.com/image/new-banner-big.png" /></div>-->
</div>
<style>
#column-left
{
	width:650px !important;
	padding-top:2px;
	margin-top:0px;
}
#column-right
{
	float:left !important;
	padding-top:2px;
	margin-top:0px;
}
</style>
<?php echo $column_left; ?>
<!-- AAAAAAAAAAAAAAAA -->
		<?php echo $column_right; ?>
				

	<!--	<img src="http://coterique.com/image/Easy-Chic.png" width="306px" height="224px"/>
				<img src="http://coterique.com/image/Designer-Spotlight.png" width="306px" height="256px"/> -->



<?php echo $footer; ?>
