<?php
 global $config;
$theme_path = $config->get('config_template');
echo $header;
?>


<section class="container" xmlns="http://www.w3.org/1999/html"><!--banner-section-->
    <div class="col-md-12 crumb crumb-2 clearfix"><!--breadcrumb-->
        <ul class="breadcrumb list-unstyled">
            <?php foreach ($breadcrumbs as $breadcrumb) { ?>
            <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
            <?php } ?>
        </ul>

    </div>
</section>
<section class="container product-preview">
    <div class="col-md-6 col-sm-8" id="content">
        <section class="main-slider clearfix">
            <div id="carousel" data-ride="carousel" class="carousel slide">
                <div class="col-md-9 col-sm-8">
                    <div role="listbox" class="carousel-inner">
                        <?php if ($thumb) { ?>
                        <div class="item active"><!-- item --><img src="<?php echo $thumb; ?>" alt=""></div>
                        <?php } ?>
                        <?php if ($images) { ?>
                        <?php foreach ($images as $image) { ?>
                        <div class="item "><!-- item -->
                            <img src="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" />
                        </div>
                        <?php } ?>
                        <?php } ?>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <ul class="list-unstyled indca">
                        <li data-target="#carousel" data-slide-to="0"><img src="<?php echo $thumb_thumb  ; ?>" alt=""></li>
                        <?php $i = 1; ?>
                        <?php if ($images) { ?>
                        <?php foreach ($images as $image) { ?>

                        <li data-target="#carousel" data-slide-to="<?php echo $i++; ?>"><img src="<?php echo $image['thumb']; ?>" alt=""></li>
                        <?php } ?>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6 details-prod col-sm-4">
            <h2><a style="color: #b2b2b2" href="<?php echo $parent_url; ?>"  ><?php echo $model; ?></a></h2>
        <h3><?php echo $heading_title; ?></h3>

        <?php if ($price) { ?>
        <?php if (!$special) { ?>
        <h6><?php echo $price; ?></h6>
        <?php } else { ?>
        <span style="text-decoration: line-through;"><?php echo $price; ?></span>
        <h2><?php echo $special; ?></h2>
        <?php } ?>
        <?php if ($tax) { ?>
        <?php echo $text_tax; ?> <?php echo $tax; ?>
        <?php } ?>
        <?php if ($points) { ?>
        <?php echo $text_points; ?> <?php echo $points; ?>
        <?php } ?>
        <?php if ($discounts) { ?>
        <?php foreach ($discounts as $discount) { ?>
        <?php echo $discount['quantity']; ?><?php echo $text_discount; ?><?php echo $discount['price']; ?>
        <?php } ?>
        <?php } ?>
        <?php } ?>


        <div class="hidden-sm">
           <p> <?php echo strip_tags($description) ; ?></p>
        </div>

        <div class="more-info clearfix">
            <?php if ($country_id_p) { ?>
            <div class="col-md-6 col-sm-12 col-xs-12">

                <div class="sprite sprite-<?php echo $country_id_p; ?> flag-product"></div>
                <div class="details">
                    <h4>country</h4>
                    <h5><?php echo $country_name_p ; ?></h5>
                </div>
            </div>
            <?php } ?>
            <div class="col-md-6 social col-sm-12 col-xs-12">
                <div class="hidden-sm hidden-xs">
                    <h4>Share this product</h4>
                </div>
                <ul class="list-unstyled">
<!--                    <li><a target="_blank" href="https://pinterest.com/pin/create/button/?url=--><?php //echo $share_url; ?><!--&media=--><?php //echo $thumb; ?><!--&description="><img src="catalog/view/theme/coterique/image/assets/insta.png" alt=""></a></li>-->
                    <li><a target="_blank" href="https://twitter.com/home?status=<?php echo $share_url; ?><?php echo $heading_title; ?>"><img src="catalog/view/theme/coterique/image/assets/twitter.png" alt=""></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?&u=<?php echo $share_url; ?>"><img src="catalog/view/theme/coterique/image/assets/face.png" alt=""></a></li>
                    <li><a target="_blank" href="http://pinterest.com/pin/create/bookmarklet/?media=<?php echo $thumb; ?>&url=<?php echo $share_url; ?>&is_video=false&description=<?php echo $heading_title; ?>"><img src="catalog/view/theme/coterique/image/assets/pinterest.png" alt=""></a></li>
                    <li><a target="_blank" href="https://plus.google.com/share?url=<?php echo $share_url; ?>"><img src="catalog/view/theme/coterique/image/assets/gplus.png" alt=""></a></li>
                </ul>

                <!-- AddThis Button BEGIN -->
<!--                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_pinterest_pinit"></a>
                    <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>-->
                <!-- AddThis Button END -->
            </div>
        </div>
        <div class="more-info" id="product">
            <div class="col-md-6" >
                <?php if ($options) { ?>
                <?php foreach ($options as $option) { ?>
                <!-- not imortant
                <?php if ($option['type'] == 'select') { ?>
                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                    <select name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control">
                        <option value=""><?php echo $text_select; ?></option>
                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                        <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                            <?php if ($option_value['price']) { ?>
                            (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                            <?php } ?>
                        </option>
                        <?php } ?>
                    </select>
                </div>
                <?php } ?>-->

                <?php if ($option['type'] == 'radio') { ?>
                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                    <label class="control-label"><?php echo $option['name']; ?></label>
                    <div id="input-option<?php echo $option['product_option_id']; ?>">
                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                        <div class="radio">
                            <label>
                                <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                                <?php echo $option_value['name']; ?>
                                <?php if ($option_value['price']) { ?>
                                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                <?php } ?>
                            </label>
                        </div>
                        <?php } ?>
                    </div>
                </div>
                <?php } ?>

                <?php if ($option['type'] == 'checkbox') { ?>
                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                    <label class="control-label"><?php echo $option['name']; ?></label>
                    <div id="input-option<?php echo $option['product_option_id']; ?>">
                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                                <?php echo $option_value['name']; ?>
                                <?php if ($option_value['price']) { ?>
                                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                <?php } ?>
                            </label>
                        </div>
                        <?php } ?>
                    </div>
                </div>
                <?php } ?>

                <?php if ($option['type'] == 'image') { ?>
                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                    <label class="control-label"><?php echo $option['name']; ?></label>
                    <div id="input-option<?php echo $option['product_option_id']; ?>">
                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                        <div class="radio">
                            <label>
                                <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                                <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <?php echo $option_value['name']; ?>
                                <?php if ($option_value['price']) { ?>
                                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                <?php } ?>
                            </label>
                        </div>
                        <?php } ?>
                    </div>
                </div>
                <?php } ?>

                <?php if ($option['type'] == 'text') { ?>
                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                    <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                </div>
                <?php } ?>

                <?php if ($option['type'] == 'textarea') { ?>
                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                    <textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"><?php echo $option['value']; ?></textarea>
                </div>
                <?php } ?>

                <?php if ($option['type'] == 'file') { ?>
                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                    <label class="control-label"><?php echo $option['name']; ?></label>
                    <button type="button" id="button-upload<?php echo $option['product_option_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
                    <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" id="input-option<?php echo $option['product_option_id']; ?>" />
                </div>
                <?php } ?>

                <?php if ($option['type'] == 'date') { ?>
                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                    <div class="input-group date">
                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
                </div>
                <?php } ?>





                <!-- not imortant -->
                <?php if ($option['type'] == 'select' && $product_quantity != 0) { ?>
                    <div class="filter-options form-group<?php echo ($option['required'] ? ' required' : ''); ?> ">
                        <select class=" form-control select-d selectpicker" name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>"><!--options1-->
                            <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                            <option value="">Select <?php echo $option['name']; ?></option>
                            <?php foreach ($option['product_option_value'] as $option_value) { ?>
                            <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                                <?php } ?>
                        </select>
                    </div>



                <!-- <button type="button" data-toggle="tooltip" class="btn btn-danger" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product_id; ?>');"><?php echo $button_wishlist; ?></button> -->

            </div>

            <div class="hidden-sm hidden-xs col-md-6 label1">
                <h6>What size am I?</h6>
            </div>

            <?php }else{ ?>

                <div class="hidden-sm hidden-xs col-md-6">
                    <h6>Out of Stock</h6>
                </div>


            <?php } ?>
            <?php } ?>
            <?php } ?>

            <div class="col-md-6">
                <div class="label1">



                    <div class="form-group">
<!--                        <label class="control-label" for="input-quantity">--><?php //echo $entry_qty; ?><!--</label>-->

                        <input type="hidden" name="quantity" value="<?php echo $minimum; ?>" size="2" id="input-quantity" class="form-control" />
                        <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
                        <?php if($product_quantity <= 0):?>
                            <button type="button" id="button-cart" value="<?php echo $button_contact; ?>" class="btn btn-primary btn-lg btn-block" onclick="parent.location='index.php?route=information/contact&enquiry=<?php echo urlencode($heading_title); ?>'" >Contact Us</button>

                        <?php else:?>
                            <button type="button" id="button-cart" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary btn-lg btn-block"><?php echo $button_cart; ?></button>
                        <?php endif;?>
                    </div>
                    <?php if ($minimum > 1) { ?>
                    <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $text_minimum; ?></div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="complete-look"><!--Section-->
    <?php if ($products){ ?>
    <div class="container">
        <div class="head">
            <h3>Complete The Look</h3>
        </div>

        <?php foreach ($products as $product) { ?>
        <div class="col-md-4 clearfix col-sm-6"><!--item-->
            <div class="img-wrap"><img height="" src="<?php echo $product['thumb']; ?>" alt=""></div>
            <div class="content"><a href="#">
                    <h4><?php //echo $category_name ; ?></h4></a><a href="<?php echo $product['href']; ?>">
                    <h3><?php echo $product['name']; ?></h3></a>
                <h5><?php echo $product['price']; ?></h5>
                <div class="filter-options clearfix">
                    <?php if ($product['options']) { ?>
                    <?php foreach ($product['options'] as $option) { ?>

                    <?php if ($option['type'] == 'select' ) { ?>
                    <div class="filter-options form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                        <select class=" selectpicker" name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>"><!--options1-->
                            <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                            <option value="">Select size</option>
                            <?php foreach ($option['product_option_value'] as $option_value) { ?>
                            <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                                <?php } ?>
                        </select>
                    </div>
                    <?php } ?>

                    <?php } ?>
                    <?php } ?>
                </div>
                <div class="actions">
                    <button class="btn btn-danger" type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');">add to wishlist</button>


                    <button class="btn btn-primary" type="button" onclick="cart.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-shopping-cart"></i> <span class=" hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span></button>


                </div>
            </div>
        </div>
        <?php } ?>

    </div>

    <?php } ?>
    <section class="bannerSecond banner-21 baner-mob clearfix">	<!--section -->
        <?php if ($parent_left) { ?>

        <img class="item item1" src="<?php echo $parent_left ; ?>" />
        <?php }else{?>
            <div class="item item1"></div>
        <?php }?>
        <div class="item item-b">



                <div class="info22">
                    <h2><?php echo $parent_name; ?></h2>
                    <p><?php echo $parent_des ; ?></p>
                    <div class="flag11 clearfix" style="width: 302px">
                        <div class="sprite sprite-<?php echo $country_id_p ; ?> parent-catss"></div>
                        <!--                    <div class="wrap"><img src="catalog/view/theme/coterique/image/flag-place.jpg" alt=""></div>-->
                        <h4><?php echo $zone_name_p ; ?>,<span><?php echo $country_name_p ; ?></span></h4>
                    </div>
                </div>


        </div>
        <?php if ($parent_right) { ?>
            <img class="item item1" src="<?php echo $parent_right ; ?>" />

        <?php }else { ?>
            <div class="item item3"></div>
        <?php } ?>
    </section>
    <div class="container">
        <div class="items-wrap-designer-profile">
            <div class="head">
                <h3>More From This Designer</h3>
            </div>
            <?php if ($products_more) { ?>
            <?php $i = 0; ?>
            <?php $i=0 ; foreach ($products_more as $product) { ?>
            <div class="col-md-3 col-sm-4 "><!-- item-->
                <div class="items"><img height="" src="<?php echo $product['thumb']; ?>" alt="">
                    <div class="item-g">
                        <h4><?php echo $product['model'] ; ?></h4>
                        <a href="<?php echo $product['href']; ?>"><p><?php echo $product['name']; ?></p></a>
                        <?php if ($product['price']) { ?>
                        <?php if (!$product['special']) { ?>
                        <b>  <?php echo $product['price']; ?></b>
                        <?php } else { ?>
                        <b class="price-new"><?php echo $product['special']; ?></b> <b class="price-old"><?php echo $product['price']; ?></b>
                        <?php } ?>

                        <?php } ?>
                        <a href="<?php echo $product['href']; ?>" class="line">VIEW DETAILS</a>
                    </div>
                </div>
            </div>
            <?php  if ($i++ == 3) break; ?>
            <?php } ?>
            <?php } ?>
        </div>
    </div>
</section>


<script type="text/javascript"><!--
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function() {
                $('#recurring-description').html('');
            },
            success: function(json) {
                $('.alert, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
    //--></script>
<script type="text/javascript">
    $('#button-cart').on('click', function() {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function() {
                $('#button-cart').button('loading');
            },
            complete: function() {
                $('#button-cart').button('reset');
            },
            success: function(json) {
                $('.alert, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                }

                if (json['success']) {
                    $('.breadcrumb').after('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                    $('#cart > button').html('<i class="fa fa-shopping-cart"></i> ' + json['total']);
                    

                    $('html, body').animate({ scrollTop: 0 }, 'slow');

                    $('#cart > ul').load('index.php?route=common/cart/info ul li');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    </script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        pickTime: false
    });

    $('.datetime').datetimepicker({
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        pickDate: false
    });

    $('button[id^=\'button-upload\']').on('click', function() {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $(node).button('loading');
                    },
                    complete: function() {
                        $(node).button('reset');
                    },
                    success: function(json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').attr('value', json['code']);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('#review').delegate('.pagination a', 'click', function(e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

    $('#button-review').on('click', function() {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function() {
                $('#button-review').button('loading');
            },
            complete: function() {
                $('#button-review').button('reset');
            },
            success: function(json) {
                $('.alert-success, .alert-danger').remove();

                if (json['error']) {
                    $('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });

    $(document).ready(function() {
        $('.thumbnails').magnificPopup({
            type:'image',
            delegate: 'a',
            gallery: {
                enabled:true
            }
        });
    });
    //--></script>
<?php echo $footer; ?>
