/* General styles for all menus */
.cbp-spmenu {
    background: #47a3da;
    position: fixed;
}

.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
}

.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.cbp-spmenu a:hover {
    background: #258ecd;
}

.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -240px;
}

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
    overflow-y: scroll;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
    top: -150px;
}

.cbp-spmenu-bottom {
    bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 240px;
}

.cbp-spmenu-push-toleft {
    left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }

}

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .cbp-spmenu-push-toright {
        left: 190px;
    }
}

/* begin edits*/

.ContenT_Menu h5 {
    margin-top:-10px;
}
.ContenT_Menu h6{
    margin-top:0;
}
.ContenT_Menu h5 span{
    display:block;
    margin-bottom:-10px;
}
.ContenT_Menu .items{padding:20px 30px;}
.grid-section .item.item-lg h2 , .grid-section .item.item-sm1 .caption3 p{
    color:#000;
}
.mainbanner.affix{
    top:0;
    background:#fff;
    width:100%;
    z-index:10000;
}
.cart-wrap.wish img{
    opacity:.2;
}
.cart-wrap.wish.active img{
    opacity:1;
}

.items-wrap-designer-profile .like {
    background:url('../image/like1.png') no-repeat;
    width:25px;
    height:25px;
    pointer:cursor;
}
.items-wrap-designer-profile .like.active{
    background:url('../image/like.png') no-repeat;
}
@media screen and (max-width: 980px){
    .bannerSecond .item .content{
        margin:90px 30px;
    }
    .navbar-toggle{
        display:block !important;
    }
    .menu2 .navbar-nav{
        display:none;
    }
    .mainbanner{
        border-bottom:0;
    }


}
#showLeftPush{
    position:absolute;
    top:20px;
    left:30px;
}
.cbp-spmenu-vertical a{
    border:none;
}
.cbp-spmenu-vertical{
    width:270px;
}
.cbp-spmenu-left{
    left:-270px;
}
.cbp-spmenu-vertical .open>.dropdown-menu{
    width:100%;
}
.cbp-spmenu{
    background:#fff;
    border-right:1px solid #f1f1f1;
}
.cbp-spmenu-vertical li span{
    float:right;
    margin-top:0px;
}
.cbp-spmenu a{
    background:none;
    color:#000;
}
.cbp-spmenu a:hover{
    background:none;
}
.cbp-spmenu .flag00 img {
    margin-right:30px;
    margin-top:-5px;
}
.search{
    border-left:1px solid $border;
::-webkit-input-placeholder {
    color:    #000;
}
:-moz-placeholder {
    color:    #000;
    opacity:  1;
}
::-moz-placeholder {
    color:    #000;
    opacity:  1;
}
:-ms-input-placeholder {
    color:    #000;
}
:placeholder-shown {
    color:    #000;
}
}
.cbp-spmenu .search input{
    border:0;
    width: 90%;
}
.cbp-spmenu #search:after{
    content: ' ' ;
    position: relative;
    background: url(../image/search.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 0;
    top:5px;
    opacity:.2;
}
.cbp-spmenu-vertical a{
    padding:0;
}
.cbp-spmenu >ul >li{
    padding:20px 28px;
    border-bottom:1px solid #f9f9f9;
}
.flag00 img{
    border-radius:50%;
    height:30px;
    width:30px;
    float:left;
}
.cbp-spmenu-vertical .dropdown-menu>li>a{
    margin-bottom:10px;
}
/*Menu content*/
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu {
    width: 100%;
    color: #ffffff;
}

#cssmenu ul ul {
    display: none;
}

#cssmenu > ul > li.active > ul {
    display: block;
}

.align-right {
    float: right;
}

#cssmenu > ul > li > a {
    padding: 25px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #a1e1f3;
    color: #ffffff;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu > ul > li > a:last-child {
    border-bottom: 0;
}

#cssmenu > ul > li > a:hover {
    color: #d8f3f0;
}

#cssmenu .arow {
    float: right;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-position: -362px 0;
    width: 13px;
    height: 22px;
}

#cssmenu ul > li.has-sub.open .arow {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#cssmenu ul ul li a {
    padding: 18px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 18px;
    text-decoration: none;
    color: #d2edf4;
    background: #4fb2cd;
    border-bottom: 1px solid #4396ac;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#cssmenu ul ul ul li a {
    padding-left: 32px;
}

#cssmenu ul ul li a:hover {
    color: #ffffff;
}

#cssmenu ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #dddddd;
}

#cssmenu ul ul > li.has-sub > a:before {
    top: 20px;
    background: #dddddd;
}
.left-bar #cssmenu > ul > li > a {
    color: #058bac;
    font-size: 18px;
    text-transform: lowercase;
}
.left-bar #cssmenu > ul > li > a:hover {
    color: #008c9a;
}
.left-bar #cssmenu .arow {
    background-position: -576px -52px;
    width: 10px;
    height: 17px;
}

.cbp-spmenu-vertical #cssmenu li a{
    font-size: 16px;
    border-color:#f9f9f9;
}
#cssmenu li a{
    padding: 20px 28px;
    border-bottom: 1px solid #000;
}
#cssmenu .has-sub ul{
    background:#f9f9f9;
    padding: 20px 25px;
    font-family: Brandon;
}
#cssmenu .has-sub ul li{
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 12px;
}
#cssmenu .has-sub ul li:hover a{
    color: #f16c28;
    text-transform: uppercase;
}
.cbp-spmenu-vertical a{
    text-transform: uppercase;
}
@media screen and (max-width: 980px){
    .items-wrap-designer-profile .item {
        height: 423px;
    }
}

@media screen and (max-width:480px){
    .items-wrap-designer-profile .item {
        height: 340px;
    }
}
.fullscreen-dropmenu2{
    display: none;
}
.fullscreen-dropmenu.v2.Shown{
    display: block;
}

#Target_Cart {
    padding: 0;
}

#cart > button {
    padding : 19px;
    border: 0;
}
#cart.open > .btn {
    border: 0;
}

li.activedd{background:#f9f9f9}
.navbar-nav {
    float: none;
}
@media (max-width: 990px) {
    .navbar-nav {
       float: left;

    }

}

@media screen and (max-width: 768px){
    .mainbanner .left-side {
        margin-left: 17%;
        margin-top: 30px;
    }
    .mainbanner .right-side ul li {
        padding: 0;
        padding-top: 25px;
    }
    .mainbanner .right-side ul li.cart-wrap img{
        margin-right: 3px;
    }
    #cart > button {
        padding: 0;
        padding-top: 25px;
    }



}

.curr .dropdown-menu {
    margin-left: -21px;
    float: left;
    padding: 9px;
    margin-top: 10px;
}

.text-danger{
    width: 200%;
    font-family: NewCentury;
    text-transform: lowercase;
}

.place{
    margin-top: 8px!important;
    margin-bottom: 0!important;
}
.section {
    padding: 70px 0;
}
.menu2 .dropdown:hover .dropdown-menu {
    display: block;
}
.menu2 .navbar-nav > li{
  margin-right: 30px!important;
}
.homa-slider .caption-cont{
    position: absolute;
    background: rgba(255,255,255,0.95);
    margin-top: 180px;
    margin-bottom: 180px;
    text-align: center;
    padding: 50px 0;
    width: 45%;
    margin-left: 30%;

    top: 50px;
}
.just-arrived {
    font-family: Brandon!important;
    color: #f16c28!important;
    font-size: 16px!important;
    text-transform: uppercase!important;
    letter-spacing: 2px!important;
}
.just-arrived-title{
    font-size: 48px!important;
    margin-top: 20px!important;
    margin-bottom: 10px!important;
    margin-top: 0px;
    line-height: 40px!important;

}
.just-arrived-desc{
    margin: auto!important;
    font-size: 18px!important;
    line-height: 20px!important;
    color: #000!important;
    margin-bottom: 20px!important;
    padding: 20px!important;
    margin-top: 20px!important;
    white-space: normal!important;
}
.just-arrived,.shop-arrived{
    margin-left: 0!important;
    margin-right: 0!important;
    text-align: center!important;
    width: auto!important;
}

.caption-cont .caption{
    position: relative !important;
    top:auto!important;
    left: auto!important;
    text-transform: none!important;
    white-space: normal!important;
    padding-top: 5px!important;
}
.shop-arrived{
    color: #f16c28!important;
    text-transform: uppercase!important;
    margin-top: 30px!important;
    font-family: Brandon!important;
    font-size: 18px!important;
    border-bottom: 2px solid #f16c28!important;
    width: 100px!important;
    margin: 0 auto!important;
}
.banner-2 .item-lg:nth-of-type(2) .caption-2{
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
    color: #000;

}
.banner-3 div:nth-child(1){
    width: 100%;
    height: 170px;
    background-repeat: no-repeat!important;
    background-size: cover!important;

}
.shadow-home {
    background: rgba(0,0,0,0.2);
    height: 720px;
    width: 100%;
}
.banner-3 div:nth-child(1) .caption-2{
    background: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-left: 30px;
}
.banner-3 div:nth-child(1) .caption h2{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 20px;
    bottom: auto;
}
.banner-3 div:nth-child(2),.col-md-4 .item-sm1, .banner-2 .item-lg:nth-of-type(1) {
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.banner-2 .item-lg:nth-of-type(3) .caption-2 h2 {
    color: #fff!important;
    text-transform: uppercase!important;
    margin-bottom: 0px!important;
    font-size: 20px!important;

}
#cbp-spmenu-s1 .pull-left{
    display: block;
    float: none!important;
    border-right: 0;
    height: auto;
    padding: 0;
}

.search #search ul.dropdown-menu{
    margin: 21px -5px 0px!important;
}
.search #search .items .item{
    padding-left: 15px;
}

.cbp-spmenu-vertical #cssmenu li .homsa{
    font-size: 16px;
    border-color: #f9f9f9;
    padding: 20px 28px;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
    background: none;
    color: #000;
    border: none;
    display: block;
    font-weight: 300;
}
.banner-1 .caption-2 h2{
    position: relative!important;
    top: 100px!important;
}

.middel-one .caption-cont{

    position: absolute;
    bottom: 0px;
    background: #fff;
    margin: 10px;
    text-align: center;
    padding: 0px 30px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 30px;

}
.middel-one .just-arrived-desc {
    font-size: 15px!important;
    margin-top: 0px!important;
    padding: 0px!important;
    margin-bottom:0px;
}
.middel-one .shop-arrived{
    border-bottom: none!important;
    width: auto!important;
    font-size: 14px!important;
}
.middel-one .just-arrived-title{
    font-family: Brandon!important;
    font-size: 20px!important;
    text-transform: uppercase;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    .banner-1 > div:first-of-type{

        background-size: cover!important;

    }

}

@media screen and (max-width:767px){

    .bannercontainer{
        height: 400px!important;
    }
    .caption-cont{
        width: 75%;
        margin-left: 15%;
        margin-top: 0px;
    }

    .banner-1 > div:first-of-type{
        background-repeat: no-repeat!important;
        background-size: contain!important;
        height: auto;
        min-height: 200px;
    }
    .banner-1 .caption-2 h2{
        font-size: 28px!important;
        top: 30px!important;
    }
    .founder-section .founder-info .img-wrap{
    }
    .founder-section.version2 .founder-info .info{
        float:none;
        text-align:center;
    }
    .founder-section.version2 .founder-info{
        width:100%;
    }
    .founder-section.version2 .founder-info .info h3,.founder-section.version2 .founder-info .info h4{
        font-size:16px;
        margin-top:10px;
    }
    .founder-section.version2 .founder-info .info h2{
        font-size:30px;
    }

    .product-preview .main-slider .carousel-inner img{
        max-height: 300px;
    }
    .main-slider .item {
        height: 300px;
    }
    #toggle-filters-mob  .btn-group.bootstrap-select{
        width: 100%!important;
        margin-bottom: 20px;
    }

}