                                           <!-- <script src="https://liveapi.paymobsolutions.com/static/api/paymob_test.js"></script>-->
                                            
                                            
                                                <div name="PAYMOB_BUTTON_CARD">
                                                <form action="http://test5.paymobsolutions.com/api/button/register_order/" method="POST">
                                                  <INPUT TYPE="hidden" NAME="amount_M" Value="<?php echo $amount; ?>" />
                                                  <INPUT TYPE="hidden" NAME="courier_id_M" Value="courier_id" />
                                                  <INPUT TYPE="hidden" NAME="currency_O" Value="EGP" />
                                                  <INPUT TYPE="hidden" NAME="customer_address_M" Value="<?php echo $address . ' ' . $address2; ?>" />
                                                  <INPUT TYPE="hidden" NAME="customer_email_0" Value="<?php echo $pay_from_email; ?>" />
                                                  <INPUT TYPE="hidden" NAME="customer_name_M" Value="<?php echo $firstname . ' ' . $lastname; ?>" />
                                                  <INPUT TYPE="hidden" NAME="customer_phone_M" Value="<?php echo $phone_number; ?>" />
                                                  <INPUT TYPE="hidden" NAME="extra_comments_O" Value="" />
                                                  <INPUT TYPE="hidden" NAME="merchant_id_M" Value="52QO79JH5VIHGR99N9RW87" />
                                                  <INPUT TYPE="hidden" NAME="unique_customer_id_O" Value="3" />
                                                  <INPUT TYPE="hidden" NAME="unique_order_id_M" Value="<?php echo $order_id; ?>" />
                                                  <?php 
                                                    $secure_hash = $amount.'courier_id'.'EGP'.$address . ' ' . $address2;
                                                    $secure_hash .= $pay_from_email . $firstname . ' ' . $lastname . $phone_number. "52QO79JH5VIHGR99N9RW87";
                                                    $secure_hash .= '3' . $order_id;
                                                    $secret_key = 'WUNJOT8BZ0O1G4RYXDMT4G6SQ';
                                                    $secret_hash = hash_hmac ('sha256',$secure_hash, $secret_key);
                                                  ?>
                                                  <INPUT TYPE="hidden" NAME="secure_hash_M" Value="<?php echo $secret_hash; ?>" />
                                                  <input type="image" src="http://test5.paymobsolutions.com/static/api/cardondelivery.png" onClick="javascript:this.parentNode.form.submit();" />
                                                  <input type="hidden" NAME="payment_method" value="CARD" />
                                                  
                                                </form>

                                            </DIV>