                                           <!-- <script src="https://liveapi.paymobsolutions.com/static/api/paymob_test.js"></script>-->
                                            
                                            
                                                <form action="http://test5.paymobsolutions.com/api/merchant/pay_order_online/" method="POST" id="paymobcc_form" name="paymobcc">
                                              <!-- <form action="http://requestb.in/qiux8jqi" method="POST">-->
                                            
                                                <table class="form">
                                                  <tbody>
                                                  <tr>
                                                    <td>Card Number</td>
                                                    <td class="large-field"><input type="text" name="c_pan_U" value="" /></td>
                                                  </tr>
                                                  <tr><td>Name on CC</td><td class="large-field"><input type="text" name="c_holder_name_U" value ="" /></td></tr>
                                                <tr><td>Expiry on CC</td><td class="large-field"><input type="text" name="c_expiry_U" value="" />(format: <strong>yymm</strong>)</td></tr>
                                               <tr><td>CVV</td><td class="large-field"><input type="text" name="c_cvv_U" value="" /></td></tr>
                                             </tbody>
                                           </table>
                                                
                                                  <INPUT TYPE="hidden" NAME="amount_M" Value="<?php echo $amount; ?>" />

                                                 <!-- <INPUT TYPE="hidden" NAME="courier_id_M" Value="courier_id" />-->

                                                  <INPUT TYPE="hidden" NAME="currency_O" Value="EGP" />
                                                  <INPUT TYPE="hidden" NAME="customer_address_C" Value="<?php echo $address . ' ' . $address2; ?>" />
                                                  <INPUT TYPE="hidden" NAME="customer_name_C" Value="<?php echo $firstname . ' ' . $lastname; ?>" />
                                                  <INPUT TYPE="hidden" NAME="customer_phone_C" Value="<?php echo $phone_number; ?>" />
                                                  <!--<INPUT TYPE="hidden" NAME="customer_email_0" Value="<?php echo $pay_from_email; ?>" />-->
                                                  <INPUT TYPE="hidden" NAME="extra_comments_O" Value="" />
                                                  <INPUT TYPE="hidden" NAME="merchant_id_M" Value="52QO79JH5VIHGR99N9RW87" />
                                                  <INPUT TYPE="hidden" NAME="unique_customer_id_O" Value="3" />
                                                  <INPUT TYPE="hidden" NAME="unique_order_id_M" Value="<?php echo $order_id; ?>" />
                                                  <?php 
                                                    $secure_hash = $amount.'EGP'.$address . ' ' . $address2;
                                                    $secure_hash .=  $firstname . ' ' . $lastname . $phone_number. "52QO79JH5VIHGR99N9RW87";
                                                    $secure_hash .= '3' . $order_id;
                                                    $secret_key = 'FQ49HDGL6Y4180N9DNDRGDC2M';
                                                    $secret_hash = hash_hmac ('sha256',$secure_hash, $secret_key);
                                                  ?>
                                                  <INPUT TYPE="hidden" NAME="secure_hash_M" Value="<?php echo $secret_hash; ?>" />
                                                  <INPUT TYPE="submit" id="submitButton"/> 
                                                  
                                                </form>
<!--
<script>
// Attach a submit handler to the form
$( "#submitButton" ).click(function( event ) {
  alert('heree');
  // Stop form from submitting normally
  //event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( "#paymobcc_form" );
  var $url = $form.attr( "action" );
 
  // Send the data using post
  console.log('Sending to ' + $url + ' the following data: ' + $("#paymobcc_form").serialize());
  var posting = $.post( $url, $form.serialize()  );
   posting.done(function( data ) {
    console.log( $( data ) );
  });

});
</script>
-->