<?php echo $header; ?>

  <!--<ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul> -->

     <!-- <h1><?php echo $heading_title; ?></h1> -->
      <?php echo $description; ?>


<?php echo $footer; ?>