<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
<!--  --><?php //if ($error_warning) { ?>
<!--  <div class="warning">--><?php //echo $error_warning; ?><!--</div>-->
<!--  --><?php //} ?>
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/review.png" alt="" /> Homepage Manager</h1>
      <div class="buttons"><a onclick="$('#form').submit();" class="button">Save</a></div>
    </div>
    <div class="content">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
        <table id="images" class="list">
          <thead>
            <tr>
              <td class="left">Item:</td>
              <td class="left">Text:</td>
              <td class="left">Link:</td>
              <td class="left">Image:</td>
            </tr>
          </thead>
        <tbody id="image-row0">
            <tr>
              <td class="left"> Just in Image</td>
              <td><input type="text" name="just_in_text" value="" /></td>
              <td class="left"><input type="text" name="just_in_link" value="http://coterique.com/designers/saya-swimwear" /></td>
              <td class="left"><div class="image">
                <img src="http://coterique.com/image/cache/data/saya text 2-100x100.jpg" alt="" id="thumb0" />
                  <input type="hidden" name="just_in_image" value="data/saya text 2.jpg" id="image0"  />
                  <br />
                  <a onclick="image_upload('image0', 'thumb0');">Browse Files</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$('#thumb0').attr('src', 'http://coterique.com/image/cache/no_image-100x100.jpg'); $('#image0').attr('value', '');">Clear Image</a></div></td>
            </tr>
            <tr>
              <td class="left">Featured Designer Image</td>
              <td><input type="text" name="featured_designer_text" value="" /></td>
              <td class="left"><input type="text" name="featured_designer_link" value="http://coterique.com/designers/saya-swimwear" /></td>
              <td class="left"><div class="image">
                <img src="http://coterique.com/image/cache/data/saya text 2-100x100.jpg" alt="" id="thumb1" />
                  <input type="hidden" name="featured_designer_image" value="data/saya text 2.jpg" id="image1"  />
                  <br />
                  <a onclick="image_upload('image1', 'thumb1');">Browse Files</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$('#thumb1').attr('src', 'http://coterique.com/image/cache/no_image-100x100.jpg'); $('#image1').attr('value', '');">Clear Image</a></div></td>
            </tr>
            <tr>
              <td class="left">3rd Big Banner</td>
              <td><input type="text" name="third_banner_text" value="" /></td>
              <td class="left"><input type="text" name="third_banner_link" value="http://coterique.com/designers/saya-swimwear" /></td>
              <td class="left"><div class="image">
                <img src="http://coterique.com/image/cache/data/saya text 2-100x100.jpg" alt="" id="thumb2" />
                  <input type="hidden" name="third_banner_image" value="data/saya text 2.jpg" id="image2"  />
                  <br />
                  <a onclick="image_upload('image2', 'thumb2');">Browse Files</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$('#thumb2').attr('src', 'http://coterique.com/image/cache/no_image-100x100.jpg'); $('#image2').attr('value', '');">Clear Image</a></div></td>
            </tr>
          </tbody>

        </table>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
function image_upload(field, thumb) {
  $('#dialog').remove();
  
  $('#content').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="index.php?route=common/filemanager&token=d94f0dd839c21a629a02b62d55d30e61&field=' + encodeURIComponent(field) + '" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>');
  
  $('#dialog').dialog({
    title: 'Image Manager',
    close: function (event, ui) {
      if ($('#' + field).attr('value')) {
        $.ajax({
          url: 'index.php?route=common/filemanager/image&token=d94f0dd839c21a629a02b62d55d30e61&image=' + encodeURIComponent($('#' + field).attr('value')),
          dataType: 'text',
          success: function(data) {
            $('#' + thumb).replaceWith('<img src="' + data + '" alt="" id="' + thumb + '" />');
          }
        });
      }
    },  
    bgiframe: false,
    width: 700,
    height: 400,
    resizable: false,
    modal: false
  });
};
//--></script> 
<?php echo $footer; ?>